


/* tr.red {
    background: #e29292;
}

tr.red td {
    color: white;
}

tr.red:hover {
    background: #f0a1a1;
    transition: .2s all ease;
} */

/* td, th {
    text-align: center;
} */

th, td {
    font-size: var(--font-sm);
}
th {
    font-weight: var(--font-700);
}
td {
    font-weight: var(--font-500);
}

:host ::ng-deep p-progressbar.p-element {
    background: red !important;
    /* height: 40px; */
}

:host ::ng-deep .p-progressbar-label {
    opacity: 0;
}

:host ::ng-deep .p-progressbar-determinate {
    background: var(--divider-border);
}

:host ::ng-deep .low-stock .p-progressbar-value {
    background: var(--font-yellow) !important;
}


/* :host ::ng-deep .p-button {
    width: auto;
    border-radius: 5px;
    padding: 8px 10px;
} */

:host ::ng-deep .p-inputtext {
    background: var(--surface-color);
    border: var(--card-border);
    box-shadow: var(--input-box-shadow);
    color: var(--font-color);
}

:host ::ng-deep  .p-dropdown-label {
    border: none !important;
    box-shadow: none;
    background: transparent;
}

:host ::ng-deep .p-dropdown {
    background: var(--surface-color);
    border: var(--card-border);
    box-shadow: var(--input-box-shadow);
    color: var(--font-color);
}

:host ::ng-deep .p-dropdown-items-wrapper {
    background: var(--surface-color);
}

:host ::ng-deep .p-dropdown-items-wrapper ul li {
    color: var(--font-color);
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Scrollbar thumb */
:host ::ng-deep .p-dropdown-items-wrapper ::-webkit-scrollbar-thumb {
    background: red !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray; /* Color on hover */
}

/* :host ::ng-deep .p-dropdown-items-wrapper ul li:hover {
    opacity: .5;
} */




@media (max-width: 1142px) {
    .thead {
        display: none;
    }
    td{
        text-align: right;
        display: block;
    }
    td::before {
        content: attr(data-title) ": ";
        float: left;
        /* font-weight: 500; */
    }
    tr:nth-child(even) {
        background: #f8f9fa;
    }
}

@media (max-width: 586px) {
    button span {
        display: none;
    }
    .input__search {
        width: 200px;
    }
    .add__btn {
        font-size: 1.4rem;
    }
    .export__btn {
        font-size: 1.4rem;
    }
    :host ::ng-deep .p-dialog-mask {
        padding: 0 10px;
    }
}






