<div class="table" >
    <p-table 
        #dt3 
        [value]="received" 
        [scrollable]="true" 
        scrollHeight="330px" 
        [tableStyle]="{ 'width': '100%' }" 
        [globalFilterFields]="['RawMaterial']" 
        class="contract_table" 
        *ngIf="!isLoading"
    >
        <ng-template pTemplate="header">
            <tr class="thead">
                <th *ngIf="selectedPackaging === 1 || selectedPackaging == 0" pSortableColumn="MBL">
                    MBL <p-sortIcon field="MBL" />
                </th>
                <th *ngIf="selectedPackaging === 2 || selectedPackaging == 0" pSortableColumn="BL">
                    BL  <p-sortIcon field="BL" />
                </th>
                <th pSortableColumn="ShippingLine">   
                    Shipping Line
                    <p-sortIcon field="ShippingLine" />
                </th>
                <th *ngIf="selectedPackaging === 2 || selectedPackaging == 0" pSortableColumn="NoOfTruck">
                    No Of Truck <p-sortIcon field="NoOfTruck" />
                </th>
                <th *ngIf="selectedPackaging === 1 || selectedPackaging == 0" pSortableColumn="NoOfContainer">
                    No Of Container <p-sortIcon field="NoOfContainer" />
                </th>
                <th *ngIf="selectedPackaging === 1 || selectedPackaging == 0" >
                    Container Type
                </th>
                <th pSortableColumn="RawMaterial">   
                    Raw Material
                    <p-sortIcon field="RawMaterial" />
                </th>
                <th pSortableColumn="Supplier">   
                    Supplier
                    <p-sortIcon field="Supplier" />
                </th>
                <th pSortableColumn="PortOfDischarge">   
                    Port Of Discharge
                    <p-sortIcon field="PortOfDischarge" />
                </th>
                <th pSortableColumn="Broker">   
                    Broker
                    <p-sortIcon field="Broker" />
                </th>
                <th pSortableColumn="ATA.date">   
                    ATA
                    <p-sortIcon field="ATA.date" />
                </th>
                <th pSortableColumn="StorageLastFreeDate.date">   
                    Storage (LFD)
                    <p-sortIcon field="StorageLastFreeDate.date" />
                </th>
                <th *ngIf="selectedPackaging === 2 || selectedPackaging == 0" pSortableColumn="Balance_Truck">   
                    Balance at Port(Truck)
                    <p-sortIcon field="Balance_Truck" />
                </th>
                <th *ngIf="selectedPackaging === 1 || selectedPackaging == 0" pSortableColumn="Balance_Container">
                    Balance at Port(Container)
                    <p-sortIcon field="Balance_Container" />
                </th> 
                <th *ngIf="selectedPackaging === 1 || selectedPackaging == 0"  pSortableColumn="Pulled_Out">
                    Total Pulled Out
                    <p-sortIcon field="Pulled_Out" />
                </th>
                <th *ngIf="selectedPackaging === 2 || selectedPackaging == 0" pSortableColumn="Withdrawn">
                    Withdrawn
                    <p-sortIcon field="Withdrawn" />
                </th>
                <th *ngIf="selectedPackaging === 2 || selectedPackaging == 0" pSortableColumn="Unloaded_Truck">
                    Unloaded Truck
                    <p-sortIcon field="Unloaded_Truck" />
                </th> 
                <th *ngIf="selectedPackaging === 1 || selectedPackaging == 0" pSortableColumn="Unloaded_Container">
                    Unloaded Container
                    <p-sortIcon field="Unloaded_Container" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr class="white-space-nowrap">
                <td data-title="MBL" *ngIf="selectedPackaging === 1 || selectedPackaging == 0">
                    <span *ngIf="row.MBL" [innerHTML]="row.MBL | highlight:searchValue">
                        {{ row.MBL}}
                    </span>
                    <span *ngIf="!row.MBL">-</span>
                </td>
                <td data-title="BL" *ngIf="selectedPackaging === 2 || selectedPackaging == 0">
                    <span *ngIf="row.BL != 0" [innerHTML]="row.BL | highlight:searchValue">{{ row.BL}}</span>
                    <span *ngIf="row.BL == 0"> {{ ' - ' }} </span>
                </td>
                <td data-title="ShippingLine">
                    <span pTooltip="Shipping Line" tooltipPosition="top" *ngIf="row.ShippingLine" [innerHTML]="row.ShippingLine | highlight:searchValue">
                        {{  row.ShippingLine}}
                    </span>
                    <span *ngIf="!row.ShippingLine"> {{ ' - ' }} </span>
                </td>
                <td data-title="NoOfTruck" *ngIf="selectedPackaging === 2 || selectedPackaging == 0">
                    {{ row.NoOfTruck === 0 ? '-' : row.NoOfTruck }}
                </td>
                <td data-title="NoOfContainer" *ngIf="selectedPackaging === 1 || selectedPackaging == 0">
                    {{ row.NoOfContainer === 0 ? '-' : row.NoOfContainer}}
                </td>
                <td data-title="Container" *ngIf="selectedPackaging === 1 || selectedPackaging == 0">
                    {{ row.Container === null ? '-' : row.Container }}
                </td>
                <td data-title="RawMaterial">
                    <span [innerHTML]="row.RawMaterial | highlight:searchValue" *ngIf="row.RawMaterial">{{ row.RawMaterial }}</span>
                    <span *ngIf="!row.RawMaterial">-</span>
                </td>
                <td data-title="Supplier">
                    <span *ngIf="row.Supplier" [innerHTML]="row.Supplier | highlight:searchValue">{{ row.Supplier }}</span>
                    <span *ngIf="!row.Supplier">-</span>
                </td>
                <td data-title="PortOfDischarge">
                    <span *ngIf="row.PortOfDischarge" [innerHTML]="row.PortOfDischarge | highlight:searchValue">
                        {{ row.PortOfDischarge}}
                    </span>
                    <span *ngIf="!row.PortOfDischarge">-</span>
                </td>
                <td data-title="Broker">
                    <span *ngIf="row.Broker" [innerHTML]="row.Broker | highlight:searchValue">
                        {{ row.Broker || '-'}} 
                    </span>
                    <span *ngIf="!row.Broker">-</span>
                </td>
                <td data-title="ATA">
                    {{ row.ATA == null ? '-' : (row.ATA.date | date: 'MM/dd/yyyy') }}
                </td>
                <td data-title="StorageLastFreeDate">
                    {{ row.StorageLastFreeDate == null ? '-' : (row.StorageLastFreeDate.date | date: 'MM/dd/yyyy') }}
                </td>
             
                <td data-title="DetentionDate" *ngIf="selectedPackaging === 2 || selectedPackaging == 0">
                    {{ row.Balance_Truck == 0 ? '-' : row.Balance_Truck }}
                </td>
                <td data-title="Balance Container" *ngIf="selectedPackaging === 1 || selectedPackaging == 0">
                    {{ row.Balance_Container == 0 ? '-' : row.Balance_Container }}
                </td>
                <td data-title="Pulled Out" *ngIf="selectedPackaging === 1 || selectedPackaging == 0">
                    {{ row.Pulled_Out == 0 ? '-' : row.Pulled_Out }}
                </td>
                <td data-title="DetentionDate" *ngIf="selectedPackaging === 2 || selectedPackaging == 0">
                    {{ row.Withdrawn == 0 ? '-' : row.Withdrawn}}
                </td>
                <td data-title="Unloaded Truck" *ngIf="selectedPackaging === 2 || selectedPackaging == 0">
                    {{ row.Unloaded_Truck == 0 ? '-' : row.Unloaded_Truck}}
                </td>
                <td data-title="Unloaded Container" *ngIf="selectedPackaging === 1 || selectedPackaging == 0">
                    {{ row.Unloaded_Container == 0 ? '-' : row.Unloaded_Container }}
                </td>
            </tr>
        </ng-template>
    </p-table>
  
    <div class="text-center my-3" *ngIf="isLoading">
      <app-loader></app-loader>
    </div>

</div>