<!-- ======= TOAST NOTIFICATION ======== -->
<p-toast></p-toast>
<p-confirmDialog 
    key="positionDialog" 
    [position]="position" 
    rejectButtonStyleClass="p-button-outlined" />

<!-- ======== CONFIRM POP-UP======== -->
<p-confirmPopup></p-confirmPopup>

<!-- <h1 class="title">Raw Material P.O</h1> -->
<app-content-header [title]="'Raw Material P.O'"></app-content-header>

<!-- ======= SEARCH, ADD, EXPORT ======= -->

<div class="radio-inputs">
    <label class="radio">
        <input checked="" name="radio" type="radio" value="1" [(ngModel)]="tabValue" (ngModelChange)="getData()"/>
        <span class="name" [class.active]="tabValue == 1"> Active </span>
    </label>
    <label class="radio">
        <input name="radio" type="radio" value="2" [(ngModel)]="tabValue" (ngModelChange)="getData()" />
        <span class="name" [class.active]="tabValue == 2"> Completed </span>
    </label>
</div>



<app-rawmats-po-table 
    [rawMatsPO]="rawMatsPO" 
    [isLoading]="isLoading"
    [insert]="insert" 
    [edit]="edit"
    [rawMatsPOError]="rawMatsPOError"
    (openModal)="openModal($event)"
    (poCompleted)="poCompleted($event)"
    *ngIf="tabValue == 1"
/>

<app-rawmats-po-completed 
    [rawMatsPO]="rawMatsPO" 
    [isLoading]="isLoading"
    *ngIf="tabValue == 2"
/>



<!-- ========= MODAL FORM ========== -->
<app-rawmats-po-modal 
    [visible]="visible"
    [rawMaterial]="rawMaterial"
    [supplier]="supplier"
    [selectedPO]="selectedPO"
    [userID]="userID"
    (closeModal)="closeModal()"
    (getData)="getData()"
/>

<!-- <p-dialog 
    header="{{ dialogHeader }}" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false" 
    #rawMatsPOModal
>
    <form #poForm="ngForm" [formGroup]="rawMatsPOForm" class="p-fluid" (ngSubmit)="onSubmit()">  

        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        P.O #
                    </label>
                    <input 
                        pInputText 
                        formControlName="PONo" 
                        autocomplete="off" 
                        class="input" 
                        placeholder="Enter PO #"
                    >
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        P.O Date
                    </label>
                    <p-calendar 
                        formControlName="PODate" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy"  
                        appendTo="body"
                    ></p-calendar>
                </div>
            </div>

        </div>

        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Delivery Date
                    </label>
                    <p-calendar 
                        formControlName="DeliveryDate" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy" 
                        appendTo="body"
                    ></p-calendar>
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        PR #
                    </label>
                    <input 
                        pInputText 
                        formControlName="PRNumber" 
                        autocomplete="off" 
                        class="input" 
                        placeholder="Enter PR #"
                    >
                </div>
            </div>

        </div>

        <div class="grid">

            <div class="col">

                <div class="field">
                    <label class="font-semibold" >
                        Raw Material
                    </label>
                    <p-dropdown 
                        [options]="rawMaterial" 
                        formControlName="RawMaterialID"
                        optionLabel="RawMaterial" 
                        [style]="{'height': '40px'}" 
                        placeholder="Select Raw Material" 
                        appendTo="body" 
                        [filter]="true"
                        filterBy="RawMaterial" 
                        [showClear]="true"
                        optionValue="RawMaterialID"
                    >
                    </p-dropdown>
                </div>

            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Weight
                    </label>
                    <p-inputNumber 
                        inputId="integeronly" 
                        formControlName="Weight"
                        placeholder="Enter weight"
                    /> 
                </div>
            </div>

        </div>

        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold">
                        Supplier
                    </label>
                    <p-dropdown 
                        [options]="supplier"    
                        formControlName="SupplierID" 
                        optionLabel="Supplier" 
                        [style]="{'height': '40px'}" 
                        [showClear]="true" 
                        placeholder="Select Supplier" 
                        [filter]="true"
                        optionValue="SupplierID"
                        appendTo="body"
                        >
                    </p-dropdown>
                     
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Remarks
                    </label>
                    <input 
                        pInputText 
                        formControlName="Remarks" 
                        autocomplete="off" 
                        class="input" 
                        placeholder="Enter Remarks"
                    >
                </div>
            </div>
        </div>

        <div class="flex justify-content-end gap-2">

            <app-submit-button 
                [submitLoading]="submitLoading" 
                [form]="rawMatsPOForm"
            /> 
        </div>

    </form>
</p-dialog> -->