.title {
    font-weight: var(--font-medium);
    margin-bottom: 40px;
    position: relative;
    font-size: 2rem;
}

.controls {
    margin-bottom: 30px;
}

.input__search {
    padding: 6px 0;
    margin-right: 20px;
}

.add__btn {
    /* background: var(--first-color); */
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.export__btn {
    /* background: #50C878; */
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

/* ==== TABLE ==== */
/* .table {
    border: 1px solid #E5E7EB;
    padding: 10px;
    border-radius: 10px;
    background: white;
    box-shadow:  0px 4px 30px rgba(221, 224, 255, .54);
    transition: .3s all ease;
}

.table:hover {
    box-shadow: none;
} */

td, th {
    padding: 10px 5px;
    /* text-align: center; */
    font-size: var(--font-sm);
}

td {
    color: var(--font-color);
    border: 1px var(--divider-border);
    border-bottom-style: dotted;
    font-weight: var(--font-500);
}
tr:hover {
    background: #f8f9fa;
}

/* ==== MODAL ==== */
/* :host ::ng-deep .p-dialog {
    padding: 15px 20px;
    background: white;
} */

/* :host ::ng-deep .p-dialog-header {
    margin-bottom: 20px;
} */

.required {
    color: rgb(228, 84, 84);
}

.disabled {
    opacity: 0.4;
    pointer-events: none; /* prevents interactions */
}

input {
    padding: 7px 10px;
}

p-inputNumber ::ng-deep input {
    padding: 7px 10px;
}

:host ::ng-deep .p-calendar {
    height: 41px;
}

:host ::ng-deep .p-calendar button{
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

:host ::ng-deep .p-button {
    width: auto;
    border-radius: 5px;
    padding: 8px 10px;
}


.submit__btn {
    background: var(--first-color);
    color: white;
    width: 100%;
    border: none;
    padding: 7px 0;
    border-radius: 7px;
}
.submit {
    padding: 7px 0;
}


@media (max-width: 1142px) {
    .thead {
        display: none;
    }
    td{
        text-align: right;
        display: block;
    }
    td::before {
        content: attr(data-title) ": ";
        float: left;
        /* font-weight: 500; */
    }
    tr:nth-child(even) {
        background: #f8f9fa;
    }
}

@media (max-width: 586px) {
    button span {
        display: none;
    }
    .input__search {
        width: 200px;
    }
    .add__btn {
        font-size: 1.4rem;
    }
    .export__btn {
        font-size: 1.4rem;
    }
    :host ::ng-deep .p-dialog-mask {
        padding: 0 10px;
    }
}