<app-content-header 
    [title]="'Importation'">
</app-content-header>

<!-- contarct tab -->
<div class="radio-inputs">
    <label class="radio">
        <!-- (ngModelChange)="onSelectFilter()" -->
        <input 
            checked="" 
            name="radio" 
            type="radio" 
            value="Active" 
            [(ngModel)]="tabValue" 
            (ngModelChange)="getContract()"
        />
        <span 
            class="name" 
            [class.active]="tabValue == 'Active'"
        > 
            Active 
        </span>
    </label>

    <!-- (ngModelChange)="onSelectFilter()" -->
    <label class="radio">
        <input 
            name="radio" 
            type="radio" 
            value="Completed" 
            [(ngModel)]="tabValue" 
            (ngModelChange)="getContract()"
        />
         <span 
            class="name" 
            [class.active]="tabValue == 'Completed'"
        > 
            Completed 
        </span>
    </label>
</div>

<!-- contract tables -->
<div [ngSwitch]="tabValue">

    <app-active-contract-table 
        [view]="view"
        [insert]="insert"
        [edit]="edit"
        [generateReport]="generateReport"
        [contract]="contract"
        [isLoading]="isLoading"
        (showDialog)="showContractDialog($event)"
        [class.hidden]="tabValue !== 'Active'"
        [selectedContractID]="selectedContractID"
        (getContract)="getContract()"
        (onRemoveContract)="onRemoveContract($event)"
        (onSelectContract)="onSelectContract($event)"
        (showShippingDialog)="showShippingDialog($event)"
    />
        
        <!-- (selectRow)="selectContractRow($event)" -->
    <app-completed-contract-table 
        [view]="view"
        [insert]="insert"
        [edit]="edit"
        [generateReport]="generateReport"
        [contract]="contract"
        [isLoading]="isLoading"
        [class.hidden]="tabValue !== 'Completed'"
    />

</div>


<!-- status tab -->
<div class="radio-inputs">

    <label class="radio">
        <!-- (ngModelChange)="onSelectFilter()" -->
        <input 
            checked="" 
            name="radio" 
            type="radio" 
            [value]="1" 
            (click)="onSelectShippingTransactionStatus($event.target)"
        />
         <span 
            class="name" 
            [class.active]="statusValue === 1"
        > 
            Sailing 
        </span>
    </label>

    <!-- (ngModelChange)="onSelectFilter()" -->
    <label class="radio">
        <input 
            name="radio" 
            type="radio" 
            [value]="2" 
            (click)="onSelectShippingTransactionStatus($event.target)"
        />
        <span 
            class="name" 
            [class.active]="statusValue === 2"
        > 
            Landed 
        </span>
    </label>

    <label class="radio">
        <input 
            name="radio" 
            type="radio" 
            [value]="3" 
            (click)="onSelectShippingTransactionStatus($event.target)"
        />
        <span 
            class="name" 
            [class.active]="statusValue === 3"
        > 
            Pull Out 
        </span>
    </label>

    <label class="radio">
        <input 
            name="radio" 
            type="radio" 
            [value]="4" 
            (click)="onSelectShippingTransactionStatus($event.target)"
        />
        <span 
            class="name" 
            [class.active]="statusValue === 4"
        > 
            Received 
        </span>
    </label>

    <label class="radio">
        <input 
            name="radio" 
            type="radio" 
            [value]="5" 
            (click)="onSelectShippingTransactionStatus($event.target)"
        />
        <span 
            class="name" 
            [class.active]="statusValue === 5"
        > 
            Unloaded 
        </span>
    </label>

</div>

<app-sailing-table
    [shippingTransaction]="shippingTransaction"
    [shippingTransactionIsLoading]="shippingTransactionIsLoading"
    [edit]="edit"
    (getContract)="getContract()"
    (getShippingTransaction)="getShippingTransaction()"
    (showShippingDialog)="showShippingDialog($event)"
    (onRemoveShipping)="onRemoveShipping($event)"
    (confirmDeleteShippingTransaction)="confirmDeleteShippingTransaction($event)"
    *ngIf="statusValue === 1"
/>

<app-landed-table 
    [shippingTransaction]="shippingTransaction"
    [shippingTransactionIsLoading]="shippingTransactionIsLoading"
    (showShippingDialog)="showShippingDialog($event)"
    (confirmDeleteShippingTransaction)="confirmDeleteShippingTransaction($event)"
    (confirmLandedToSailing)="confirmLandedToSailing($event)"
    (confirmLandedToPullOut)="confirmLandedToPullOut($event)"
    [edit]="edit"
    *ngIf="statusValue === 2"
/>

<app-pullout-table 
    [shippingTransaction]="shippingTransaction"
    [shippingTransactionIsLoading]="shippingTransactionIsLoading"
    *ngIf="statusValue === 3"
/>





<!-- active contract dialog form -->
<app-active-contract-dialog 
    [rawMaterial]="rawMaterial"
    [supplier]="supplier"
    [portOfDischarge]="portOfDischarge"
    [userID]="userID"
    [row]="selectedContractRow"
    [visible]="contractDialogVisible"
    (getContract)="getContract()"
    (closeDialog)="closeContractDialog()"
/>
    <!-- (getContract)="getContract()" -->

<app-create-shipping-transaction 
    [shippingDialogVisisble]="shippingDialogVisisble"
    [statusValue]="statusValue"
    [rawMaterial]="rawMaterial"
    [supplier]="supplier"
    [shippingLine]="shippingLine"
    [containerType]="containerType"
    [broker]="broker"
    [bank]="bank"
    [row]="selectedShippingRow"
    [UserID]="userID"
    (getShippingTransaction)="getShippingTransaction()"
    (closeShippingDialog)="closeShippingDialog()"
/>

    
