/* tab */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.2rem;
    background: var(--surface-color);
    border: var(--card-border);
    box-shadow: var(--card-box-shadow);
    padding: 0.25rem;
    /* width: 200px; */
    min-width: 50px;
    display: inline-block;
    font-size: var(--font-sm);
    margin-bottom: 15px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    border: none;
    padding: 3px 10px;
    color: var(--font-color);
    transition: all .15s ease-in-out;
    font-weight: var(--font-500);
  }
  
  .radio-inputs .radio .name.active {
    background: #6366f1;
    font-weight: 500;
    color: #eee;
  }