


<!-- <h1 class="title">Raw Material Inventory</h1> -->
<app-content-header [title]="'Inventory / Raw Material '"></app-content-header>

<!-- ======= SEARCH, ADD, EXPORT ======= -->
<div class="controls">
    <!-- <input pInputText type="text" class="p-inputtext-lg pl-3 input__search" placeholder="Search" (input)="onGlobalFilter(dt1, $event)"/> -->
    <!-- <button pButton pRipple class="bttn" (click)="showDialog()"><i class='bx bx-plus'></i> <span>Add Item</span></button> -->

    <!-- <p-dropdown 
        #dropdown1 
        [options]="rawMaterial" 
        optionLabel="RawMaterial" 
        (onChange)="onChangeProduct($event)" 
        [showClear]="true" 
        placeholder="Raw Material" 
        class="mr-2" 
    ></p-dropdown> -->

    <!-- <span class="mr-3 font-semibold">
        From
    </span>

    <p-calendar 
        [(ngModel)]="fromDate"  
        class="mr-3"  
        [minDate]="minDate" 
        [maxDate]="maxDate" 
        [style]="{width: '130px'}"
    ></p-calendar> -->

    <!-- <span class="mr-3 font-semibold">
        To
    </span>

    <p-calendar  
        [(ngModel)]="toDate"  
        class="mr-3" 
        [minDate]="minDate" 
        [maxDate]="maxDate" 
        [style]="{width: '130px'}"
    ></p-calendar> -->

    <!-- <button 
        pButton 
        pRipple 
        class="p-button-secondary bttn" 
        (click)="filterDateRange()" 
        *ngIf="!isReset" 
        [disabled]="!fromDate || !toDate"
    >
        Generate
    </button> -->

    <!-- <button 
        pButton 
        pRipple 
        *ngIf="isReset" 
        class="p-button-secondary bttn" 
        (click)="resetFilter(dt1)"
    >
        <span>Reset</span>
    </button> -->

    <!-- <button 
        pButton 
        pRipple 
        class="p-button-info bttn" 
        *ngIf="generateReport"
    >
        <i class='bx bx-file mr-1'></i> 
        <span>Export File</span>
    </button> -->

    <!-- <span>Filter :</span>

    <p-overlayPanel #op>
        <ng-template pTemplate="content">
            <button pButton pRipple class="p-button-secondary bttn" (click)="filterDateRange()" *ngIf="!isReset" [disabled]="!fromDate || !toDate">Generate</button>
            <button pButton pRipple *ngIf="isReset" class="p-button-secondary bttn" (click)="resetFilter(dt1)"><span>Reset</span></button>
            <hr class="mb-5">
            <span class="p-float-label inline-block">
                <p-calendar id="fromDate" [(ngModel)]="fromDate"  class="mr-3"  [minDate]="minDate" [maxDate]="maxDate" [style]="{width: '130px'}"></p-calendar>
                <label for="fromDate">From</label>
            </span>
            <span class="p-float-label inline-block">
                <p-calendar id="toDate" [(ngModel)]="toDate"  class="mr-3" [minDate]="minDate" [maxDate]="maxDate" [style]="{width: '130px'}"></p-calendar>
                <label for="toDate">To</label>
            </span>

        </ng-template>
    </p-overlayPanel> -->
    <!-- <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button> -->
        <!-- <span (click)="op.toggle($event)" class="flex">Date <i class="pi pi-chevron-down"></i></span> -->

</div>

<!-- <div class="flex gap-2 mb-4">
    <span class="p-float-label">
        <p-calendar id="from_date" [showIcon]="true" (onSelect)="onChangeFrom($event)" [(ngModel)]="fromDate"></p-calendar>
        <label for="from_date" appendTo="body" class="text-sm">From</label>
    </span>
    
    <span class="p-float-label">
        <p-calendar id="to_date" [showIcon]="true" (onSelect)="onChangeTo($event)" [(ngModel)]="toDate"></p-calendar>
        <label for="to_date" appendTo="body" class="text-sm">To</label>
    </span>
</div> -->

<!-- <p *ngIf="filterInventory?.length"> {{ filterInventory?.length }} results found.</p> -->


<!-- ======= TABLE ======= -->
<div class="table mt-4">

    <p-table  
        #dt1 
        [value]="filterInventory"  
        [tableStyle]="{ 'width': '100%'}" 
        [globalFilterFields]="['RawMaterial', 'InventoryDate.date']"  
        [scrollable]="true" 
        scrollHeight="700px" 
    >

        <ng-template pTemplate="caption">
            
            <div class="flex gap-2 mb-4 ">
                <span class="p-float-label">
                    <p-calendar 
                        id="from_date" 
                        [showIcon]="true" 
                        (onSelect)="onChangeFrom($event)" 
                        [(ngModel)]="fromDate"
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="from_date" 
                        appendTo="body" 
                     
                    >
                        Start date
                    </label>
                </span>
                
                <span class="p-float-label">
                    <p-calendar 
                        id="to_date" 
                        [showIcon]="true" 
                        (onSelect)="onChangeTo($event)" 
                        [(ngModel)]="toDate" 
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="to_date" 
                        appendTo="body" 
                     
                    >
                        End date
                    </label>
                </span>

                <!-- <p-dropdown 
                    id="item" 
                    [options]="rawMaterial" 
                    optionLabel="RawMaterial" 
                    optionValue="RawMaterialID" 
                    placeholder="asd"
                    (onChange)="onSelectRawMaterial()"
                    [(ngModel)]="selectedRawMats"
                    [style]="{'min-width': '200px'}"
                /> -->
                <span class="p-float-label">
                    <p-dropdown 
                        [options]="rawMaterial" 
                        [(ngModel)]="selectedRawMats" 
                        placeholder="Select item" 
                        optionLabel="RawMaterial"
                        optionValue="RawMaterialID"  
                        (onChange)="onSelectRawMaterial()"
                        inputId="float-label"
                    ></p-dropdown>
                    <label for="float-label" >Select a Item</label>
                </span>

            </div>
            

            <span class="filter-container" *ngIf="fromDate && toDate || selectedRawMats">
                <span class="title">
                    Filter: 
                </span>
                
                <p-chip 
                    label="{{fromDate | date: 'MMM dd, yyyy' }} - {{ toDate | date: 'MMM dd, yyyy'}}" 
                    [removable]="true" 
                    (onRemove)="handleChipRemove()"
                    class="mr-2"
                    *ngIf="fromDate && toDate"
                />

                <p-chip 
                    label="{{getRawMaterialName(selectedRawMats)}}" 
                    [removable]="true" 
                    (onRemove)="onRemoveRawmatsChip()"
                    *ngIf="selectedRawMats"
                />
            </span>

            <span class="text-red-400 inline-flex align-items-center font-semibold text-sm p-2" *ngIf="(fromDate && toDate) && selectedRawMats">
                <i class="pi pi-trash font-semibold mr-2"></i>
                <span>Clear</span>
            </span>

        </ng-template>

        <ng-template pTemplate="header">
            <tr class="thead">
                <th>Date</th>
                <th>Raw Material</th>
                <th>Begin </th>
                <th>Incoming</th>
                <th>OutGoing</th>
                <th>Condemn </th>
                <th>Ending</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr *ngIf="!isLoading">

                <td data-title="">
                    <span class="font-medium"> {{row.InventoryDate?.date  | date: 'MMM dd, yyyy' }}</span>
                    <span class="sub-text">{{row.InventoryDate?.date | date: 'EEEE' }}</span>
                </td>

                <td data-title="Raw Material">
                    <span class="font-medium">{{ row.RawMaterial}}</span> 
                </td>

                <td data-title="Begin Weight">
                    <span class="font-medium">{{ row.BeginWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.BeginQty | number }} Bags </span>
                </td>

                <td data-title="Incoming Weight">
                    <span class="font-medium">{{ row.IncomingWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.IncomingQty | number }} Bags </span>
                </td>

                <td data-title="Binloading Weight">
                    <span class="font-medium">{{ row.BinloadingWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.BinloadingQty | number }} Bags </span>
                </td>

                <td data-title="Condem Weight">
                    <span class="font-medium">{{ row.CondemWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.CondemQty | number }} Bags </span>
                </td>

                <td data-title="Ending Weight">
                    <span class="font-medium">{{ row.EndingWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.EndingQty | number }} Bags </span>
                </td>
            </tr>
        </ng-template>

    </p-table>

    <div class="text-center my-3" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>

</div>


<!-- ========= MODAL FORM ========== -->
<p-dialog 
    header="{{dialogHeader}}" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1515px': '550px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <form [formGroup]="inventoryForm" class="p-fluid" (ngSubmit)="onSubmit()">  

        <div class="field">

            <label class="font-semibold" >Raw Material</label>

            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="rawMaterial"  
                    formControlName="RawMaterialID" 
                    optionLabel="RawMaterial" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select Raw Material"
                ></p-dropdown>
            </div>

        </div>

        <div class="field">

            <label class="font-semibold" >Inventory Date</label>

            <p-calendar 
                formControlName="InventoryDate" 
                [showIcon]="true" 
                placeholder="mm/dd/yyyy" 
                appendTo="body">
            </p-calendar>

        </div>

        <div class="grid">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" >
                        Binloading Qty
                    </label>

                    <p-inputNumber 
                        formControlName="BinloadingQty" 
                        inputId="integeronly" 
                        autocomplete="off" 
                    ></p-inputNumber> 
                    
                </div>
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" >
                        Binloading Weight
                    </label>

                    <p-inputNumber 
                        formControlName="BinloadingWeight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                    ></p-inputNumber> 
                    
                </div>
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" >
                        Binloading Price
                    </label>

                    <p-inputNumber 
                        formControlName="BinloadingPrice" 
                        inputId="integeronly" 
                        autocomplete="off" 
                    ></p-inputNumber> 

                </div>
            </div>

        </div>       

       
        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >Condem Qty</label>
                    <p-inputNumber 
                        formControlName="CondemQty" 
                        inputId="integeronly" 
                        autocomplete="off" 
                    ></p-inputNumber> 
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Condem Weight
                    </label>
                    <p-inputNumber 
                        formControlName="CondemWeight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                    ></p-inputNumber> 
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Condem Price
                    </label>
                    <p-inputNumber 
                        formControlName="CondemPrice" 
                        inputId="integeronly" 
                        autocomplete="off" 
                    ></p-inputNumber> 
                </div>
            </div>

        </div>


        <button 
            pButton 
            pRipple 
            label="Submit" 
            class="bg-indigo-500 border-round border-none submit" 
            [disabled]="!inventoryForm.valid"
        ></button>

    </form>
</p-dialog>