


<!-- <h1 class="title">Raw Material Inventory</h1> -->
<app-content-header [title]="'Inventory / Raw Material '"></app-content-header>


<div class="text-center my-3" *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<p-messages 
    [(value)]="inventoryError" 
    [enableService]="false" 
    [closable]="false"
    *ngIf="inventoryError" 
/>

<!-- ======= TABLE ======= -->
<div class="table mt-4" *ngIf="!isLoading && inventoryError.length === 0">

    <p-table  
        #dt1 
        [value]="filterInventory"  
        [tableStyle]="{ 'width': '100%'}" 
        [globalFilterFields]="['RawMaterial', 'InventoryDate.date']"  

        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
    >

        <ng-template pTemplate="caption">
            
            <div class="flex gap-2 mb-4 ">
                <span class="p-float-label">
                    <p-calendar 
                        id="from_date" 
                        [showIcon]="true" 
                        (onSelect)="onChangeFrom($event)" 
                        [(ngModel)]="fromDate"
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="from_date" 
                        appendTo="body" 
                     
                    >
                        Start date
                    </label>
                </span>
                
                <span class="p-float-label">
                    <p-calendar 
                        id="to_date" 
                        [showIcon]="true" 
                        (onSelect)="onChangeTo($event)" 
                        [(ngModel)]="toDate" 
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="to_date" 
                        appendTo="body" 
                     
                    >
                        End date
                    </label>
                </span>

                <!-- <p-dropdown 
                    id="item" 
                    [options]="rawMaterial" 
                    optionLabel="RawMaterial" 
                    optionValue="RawMaterialID" 
                    placeholder="asd"
                    (onChange)="onSelectRawMaterial()"
                    [(ngModel)]="selectedRawMats"
                    [style]="{'min-width': '200px'}"
                /> -->
                <span class="p-float-label">
                    <p-dropdown 
                        [options]="rawMaterial" 
                        [(ngModel)]="selectedRawMats" 
                        placeholder="Select item" 
                        optionLabel="RawMaterial"
                        optionValue="RawMaterialID"  
                        (onChange)="onSelectRawMaterial()"
                        inputId="float-label"
                    ></p-dropdown>
                    <label for="float-label" >Select a Item</label>
                </span>

            </div>
            

            <span class="filter-container" *ngIf="fromDate && toDate || selectedRawMats">
                <span class="title">
                    Filter: 
                </span>
                
                <p-chip 
                    label="{{fromDate | date: 'MMM dd, yyyy' }} - {{ toDate | date: 'MMM dd, yyyy'}}" 
                    [removable]="true" 
                    (onRemove)="handleChipRemove()"
                    class="mr-2"
                    *ngIf="fromDate && toDate"
                />

                <p-chip 
                    label="{{getRawMaterialName(selectedRawMats)}}" 
                    [removable]="true" 
                    (onRemove)="onRemoveRawmatsChip()"
                    *ngIf="selectedRawMats"
                />
            </span>

            <span class="text-red-400 inline-flex align-items-center font-semibold text-sm p-2" *ngIf="(fromDate && toDate) && selectedRawMats">
                <i class="pi pi-trash font-semibold mr-2"></i>
                <span>Clear</span>
            </span>

        </ng-template>

        <ng-template pTemplate="header">
            <tr class="thead">
                <th>Date</th>
                <th>Raw Material</th>
                <th>Begin </th>
                <th>Incoming</th>
                <th>OutGoing</th>
                <th>Condemn </th>
                <th>Ending</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>

                <td data-title="">
                    <span class="font-medium"> {{row.InventoryDate?.date  | date: 'MMM dd, yyyy' }}</span>
                    <span class="sub-text">{{row.InventoryDate?.date | date: 'EEEE' }}</span>
                </td>

                <td data-title="Raw Material">
                    <span class="font-medium">{{ row.RawMaterial}}</span> 
                </td>

                <td data-title="Begin Weight">
                    <span class="font-medium">{{ row.BeginWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.BeginQty | number }} Bags </span>
                </td>

                <td data-title="Incoming Weight">
                    <span class="font-medium">{{ row.IncomingWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.IncomingQty | number }} Bags </span>
                </td>

                <td data-title="Binloading Weight">
                    <span class="font-medium">{{ row.BinloadingWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.BinloadingQty | number }} Bags </span>
                </td>

                <td data-title="Condem Weight">
                    <span class="font-medium">{{ row.CondemWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.CondemQty | number }} Bags </span>
                </td>

                <td data-title="Ending Weight">
                    <span class="font-medium">{{ row.EndingWeight | number }} KG</span> 
                    <span class="sub-text"> {{ row.EndingQty | number }} Bags </span>
                </td>
            </tr>
        </ng-template>

    </p-table>

</div>


