
<div class="flex flex-column justify-content-center align-items-center gap-3 p-fluid">

    <img [src]="getImageUrl(selectedAvatar)" alt="avatar" width="150px">


    <div class="max-w-18rem flex flex-wrap gap-3 justify-content-center p-2">
        <li *ngFor="let avatar of avatarList; index as i" (click)="selectAvatar(i)">
            <img [src]="avatar.avatarUrl" width="35px" [class.selectedAvatar]="selectedAvatar === i"/>
        </li> 
    </div>

    <!-- <div class="p-2 flex align-items-center justify-content-center gap-3 w-full">
        <img src="assets/avatar-boy.png" width="35px">
        <img src="assets/avatar-woman.png" width="35px">
        <img src="assets/avatar-beard.png" width="35px" class="border-solid border-circle border-indigo-600">
        <img src="assets/avatar-hacker.png" width="35px">
    </div> -->
 
 
    <form [formGroup]="userDataForm" class="w-full">

        <div class="grid">
            <div class="col-12 xl:col-6">
                <label>Username</label>
                <input type="text" pInputText formControlName="UName"/>
            </div>
    
            <div class="col-12 xl:col-6">
                <label>Full name</label>
                <input type="text" pInputText formControlName="Name"/>
            </div>
        </div>
    
        <div class="grid ">
            <div class="col-12 xl:col-6">
                <label>Contact #</label>
                <input type="text" pInputText formControlName="ContactNo"/>
            </div>
    
            <div class="col-12 xl:col-6">
                <label>Email</label>
                <input type="text" pInputText formControlName="EmailAdd"/>
            </div>
        </div>

    </form>

    <div class="flex justify-content-end w-full">

        <p-button 
            label="Save changes" 
            [loading]="loading" 
            (click)="onSubmit()"
            [style]="{'border-radius': '5px', 'padding': '7px 10px'}"
            [disabled]="!hasChanges()"
        ></p-button>

    </div>

</div>