

<!-- ======== CONFIRM POP-UP======== -->
<p-confirmPopup></p-confirmPopup>

<!-- ==== TITLE ==== -->
<!-- <h1 class="title">Binloading</h1> -->
<app-content-header [title]="'Binloading'"></app-content-header>


<div class="radio-inputs" [class.hidden]="!binloadVerify">
    <label class="radio">
        <input checked="" name="radio" type="radio" value="1" [(ngModel)]="tabValue" (ngModelChange)="filterBinload()"/>
        <span class="name" [class.active]="tabValue == 1"> Binload </span>
    </label>
    <label class="radio">
        <input name="radio" type="radio" value="2" [(ngModel)]="tabValue" (ngModelChange)="filterBinload()" />
        <span class="name" [class.active]="tabValue == 2"> Verified </span>
    </label>
</div>


<!-- ===== TABLE ====== -->
<div class="text-center my-3" *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<p-messages 
    [(value)]="binloadError" 
    [enableService]="false" 
    [closable]="false"
    *ngIf="binloadError" 
/>

<div class="table" *ngIf="!isLoading && binloadError.length === 0">

    <p-table 
        #dt2 
        [value]="binloadRequest" 
        [tableStyle]="{ 'width': '100%' }" 
        [globalFilterFields]="['RequestDate', 'RawMaterial', 'PlantName', 'WarehouseLocation', 'PlateNo', 'DriverName']" 
        dataKey="BinloadRequestID"
        [paginator]="!isLoading"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
    >

        <ng-template pTemplate="caption">

            <div class="flex align-items-center justify-content-between mb-2">

                <input 
                    pInputText 
                    type="text" 
                    class="p-inputtext-lg pl-3 input__search" 
                    placeholder="Search" 
                    (input)="onGlobalFilter(dt2, $event)" 
                />

                <!-- <button 
                    pButton 
                    pRipple 
                    class="add__btn" 
                    (click)="showRequestDialog(requestDialog)" 
                    *ngIf="insert && tabValue == 1"
                >
                    <i class='bx bx-plus'></i> 
                    <span>Add Request</span>
                </button> -->

                
                <app-add-request 
                    [plant]="plant"
                    [rawMaterial]="rawMaterial"
                    [warehouseLocation]="warehouseLocation"
                    [warehouse]="warehouse"
                    [unitOfMeasure]="unitOfMeasure"
                    [truck]="truck"
                    [driver]="driver"
                    (getBinloadRequest)="getBinloadRequest()"
                    [UserID]="UserID"
                    *ngIf="insert && tabValue == 1"
                />

            </div>

        </ng-template>

        <ng-template pTemplate="header">
            <tr class="thead white-space-nowrap">
                <th style="width: 5rem"></th>
                <th pSortableColumn="RequestDate.date">   
                    Request Date
                    <p-sortIcon field="RequestDate.date" />
                </th>
                <th>Plant</th>
                <th>Raw Material</th>
                <th>Request</th>
                <th>Location</th>
                <th>Plate #</th>
                <th>Dispatcher</th>
                <th *ngIf="edit">Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td>
                    <p-button 
                        type="button" 
                        pRipple 
                        [pRowToggler]="row" 
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" 
                        [style]="{'background': 'none', 'border': 'none', 'color': 'gray'}"
                    />
                </td>
                <td data-title="Request Date"> 
                    {{ row.RequestDate.date | date: 'MM/dd/yyyy' }} 
                </td>
                <td data-title="Plant Name"> 
                    {{ row.PlantName }} 
                </td>
                <td data-title="Raw Material"> 
                    {{ row.RawMaterial }} 
                </td>
                <td data-title="Weight"> 
                    <span > {{ row.Quantity + ' ' + row.BinloadUom}}  </span>
                </td>
                <td data-title="Warehouse Location"> 
                    <span class="">{{ row.WarehouseLocation }} </span> 
                    <span class="sub-text"> {{ row.Warehouse_Name}} - {{ row.WarehousePartitionName }}</span>
                </td>
                <td data-title="Plate No"> 
                    <span class="">{{ row.PlateNo}} </span> 
                    <span class="sub-text"> {{ row.DriverName}} </span>
                </td>

                <td data-title="Dispatcher">
                    {{ row.Name }}

                </td>
                <td data-title="Action" *ngIf="edit || checkerInsert" class="">
                    <!-- <button 
                        pButton 
                        pRipple 
                        class="edit__btn" 
                        class="p-button-success p-2 border-round mr-2" 
                        (click)="onEditBinloadRequest(row, requestDialog)"
                        *ngIf="row.Binloading.length == 0 && edit && tabValue == 1"
                    >
                        <i class='bx bx-edit-alt'></i>
                    </button> -->

                    <button 
                        pButton 
                        pRipple 
                        class="edit__btn" 
                        class="p-button-warning p-2 border-round mr-2" 
                        (click)="onAddBinload(row, dialog)"
                        *ngIf="row.Binloading.length == 0 && checkerInsert && tabValue == 1"
                    >
                        <i class='bx bx-plus'></i>
                    </button>

                    <!-- <button 
                        pButton 
                        pRipple 
                        class="edit__btn" 
                        class="p-button-primary p-2 border-round mr-2" 
                        (click)="confirmBinloadVerified('center', row)"
                        *ngIf="row.Binloading.length > 0 && tabValue == 1 && binloadVerify"
                    >
                        <i class='bx bx-check'></i>
                    </button> -->

                    <app-verify-request 
                        [plant]="plant"
                        [rawMaterial]="rawMaterial"
                        [warehouseLocation]="warehouseLocation"
                        [warehouse]="warehouse"
                        [warehousePartition]="warehousePartition"
                        [unitOfMeasure]="unitOfMeasure"
                        [truck]="truck"
                        [driver]="driver"
                        [intake]="intake"
                        [row]="row"
                        [UserID]="UserID"
                        *ngIf="row.Binloading.length > 0 && tabValue == 1 && binloadVerify"
                    />

                    <button 
                        pButton 
                        pRipple 
                        class="edit__btn" 
                        class="p-button-danger p-2 border-round mr-2" 
                        (click)="confirmBinloadDelete('center', row)"
                        [disabled]="isDeleting"
                        *ngIf="row.Binloading.length > 0 && tabValue == 1 && binloadDelete"
                    >
                        <i class='bx bx-trash'></i>
                    </button>

            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-binloadRequest>
            <tr>
                <td colspan="10">
                    <div class="p-3">
                        <p-table [value]="binloadRequest.Binloading" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th> Binloading Date </th>
                                    <th> Control # </th>
                                    <th> Intake </th>
                                    <th> Quantity </th>
                                    <th> Weight </th>
                                    <th> Binload Checker </th>
                                    <th style="width: 4rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-row>
                                <tr>
                                    <td>
                                        {{ (row.BinloadingDateTime.date | date: 'MM/dd/yyyy') || '-' }}
                                        <div class="sub-text">
                                            {{ (row.BinloadingDateTime.date | date: 'hh:mm a') || '-' }}
                                        </div>
                                    </td>
                                    <td> {{ row.ControlNo }}</td>
                                    <td> {{ row.IntakeID }}</td>
                                    <td> {{ row.Quantity }}</td>
                                    <td> {{ row.Weight | number}}</td>
                                    <td> {{ row.Name }}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no order for this product yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>

            <ng-template pTemplate=emptymessage>
                No binload for this request.
            </ng-template>

        </ng-template>
    

    </p-table>

</div>

<p-confirmDialog 
    key="positionDialog" 
    [position]="position" 
    rejectButtonStyleClass="p-button-outlined" />

<!-- <app-binload-verified-table *ngIf="tabValue == 2"/> -->

<p-dialog 
    header="Warehouse stock" 
    [(visible)]="warehouseStockVisible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <app-warehouse-stock-table 
        [warehouseStock]="warehouseStock"
    />

</p-dialog>


<!-- ======= BINLOAD REQUEST MODAL FORM ======== -->
<p-dialog 
    header="{{ dialogHeader }}" 
    [(visible)]="visibleRequestModal" 
    [modal]="true" 
    [maximizable]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false" 
    #requestDialog
>
    <form [formGroup]="binloadRequestForm" class="p-fluid" (ngSubmit)="onSubmitBinloadRequest()">  
     
        <!-- <div class="field">
            <label class="font-semibold" >Control No</label>
            <input pInputText formControlName="ControlNo" autocomplete="off" class="input">
        </div> -->

        <div class="grid">
            <div class="col">
                <div class="field">
                    <label class="font-semibold" > Request Date <span class="required">*</span></label>
                    <p-calendar 
                        formControlName="RequestDate" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy" 
                        [showTime]="true" 
                        hourFormat="12" 
                        appendTo="body" 
                    ></p-calendar>
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >Plant <span class="required">*</span></label>
                    <!-- <div class="card flex justify-content-center"> -->
                        <p-dropdown 
                            [options]="plant" 
                            formControlName="PlantID" 
                            optionLabel="PlantName" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Plant" 
                            optionValue="PlantID"
                        ></p-dropdown>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="field">
            <label class="font-semibold" >
                Raw Material 
                <span class="required">*</span>
            </label>
            <p-dropdown 
                [options]="rawMaterial" 
                formControlName="RawMaterialID" 
                optionLabel="RawMaterial" 
                [style]="{'height': '40px'}" 
                [showClear]="true" 
                placeholder="Select Raw Material"
                optionValue="RawMaterialID"
                [filter]="true"
                (onChange)="onSelectRawMaterial($event.value)"
            ></p-dropdown>
        </div>

        <div class="field">
            <label class="font-semibold" > 
                Location 
                <span class="required">*</span>
            </label>
            <div [class.disabled]="binloadRequestForm.value.RawMaterialID == null">
                <p-dropdown 
                    [options]="warehouseLocation" 
                    formControlName="WarehouseLocationID" 
                    optionLabel="WarehouseLocation" 
                    [style]="{'height': '40px'}" 
                    [showClear]="true" 
                    placeholder="Select Location" 
                    (onChange)="onSelectLocation($event.value)"
                    optionValue="WarehouseLocationID"
                ></p-dropdown>
            </div>
        </div>

        <!-- <div class="field">
            <label class="font-semibold" > Warehouse <span class="required">*</span></label>
            <div class="card flex justify-content-center">
                <p-dropdown [options]="warehouse" formControlName="WarehouseID" optionLabel="LocationName" [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" [showClear]="true" placeholder="Select Warehouse"></p-dropdown>
            </div>
        </div> -->

        <!-- <div class="field">

            <label class="font-semibold" > 
                Detail <span class="required">*</span>
            </label>

            <p-table [value]="binloadDetail" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-left">Warehouse <span class="required">*</span></th>
                        <th class="text-left">Partition <span class="required">*</span></th>
                        <th class="text-left">Quantity</th>
                        <th class="text-left">Weight</th>
                        <th class="text-left"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row let-index="rowIndex">
                    <tr>
                        <td>
                            <div class="card flex justify-content-center">
                                <p-dropdown 
                                    [options]="selectedWarehouse" 
                                    optionLabel="LocationName" 
                                    [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" 
                                    [showClear]="true" 
                                    placeholder="Select Warehouse" 
                                    appendTo="body" 
                                    [disabled]="selectedWarehouse.length == 0" 
                                    (onChange)="onSelectWarehouse($event, index)"
                                    [(ngModel)]="row.WarehouseID"
                                    [ngModelOptions]="{standalone: true}"
                                    optionValue="WarehouseID"
                                ></p-dropdown>
                            </div>
                        </td>
                        <td>
                            <div class="card flex justify-content-center">
                                <p-dropdown 
                                    [options]="warehousePartition" 
                                    optionLabel="WarehousePartitionName" 
                                    [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" 
                                    [showClear]="true" 
                                    placeholder="Select Partition" 
                                    appendTo="body" 
                                    [class.disabled]="selectedPartition.length == 0" 
                                    [(ngModel)]="row.WarehousePartitionID"
                                    [ngModelOptions]="{standalone: true}"
                                    optionValue="WarehousePartitionID"
                                ></p-dropdown>
                            </div>
                        </td>

                        <td>
                            <p-inputNumber 
                                class="block"
                                [class.ng-invalid]="row.Quantity > row.MaxQuantity"
                                [disabled]="row.MaxQuantity === 0"
                                inputId="integeronly" 
                                autocomplete="off" 
                                placeholder="No of bags" 
                                [style]="{'width': '100%'}"
                                [(ngModel)]="row.Quantity"
                                [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="onComputeTotalQuantity()"
                                suffix=" {{row.MaxQuantity ? '/ ' + row.MaxQuantity : null}}"
                            ></p-inputNumber> 
                        </td>
                        <td>
                            <p-inputNumber 
                                class="block"
                                [class.ng-invalid]="row.Weight > row.MaxWeight" 
                                [disabled]="row.MaxQuantity > 0 || row.MaxWeight === 0"
                                inputId="integeronly" 
                                autocomplete="off" 
                                placeholder="No of kg" 
                                [style]="{'width': '100%'}"
                                [(ngModel)]="row.Weight"
                                [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="onComputeTotalWeight()"
                                suffix=" {{row.MaxWeight ? '/ ' + row.MaxWeight : null}}"
                            ></p-inputNumber> 
                        </td>

                        <td>
                            <i class="pi pi-times hover:text-red-500 cursor-pointer " (click)="removeRow(index)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div> -->

        <!-- <div class="flex justify-content-end">
            <button 
                type="button" 
                pButton 
                pRipple 
                icon="bx bx-plus" 
                label="Add row" 
                [style]="{width: 'auto'}"
                class="p-button-text p-2 border-round"
                (click)="addRow()"
                >
            </button>
        </div> -->

        <div class="field">
            <label class="font-semibold">Warehouse</label>
            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    formControlName="WarehouseID"
                    [options]="selectedWarehouse" 
                    optionLabel="LocationName" 
                    [style]="{'height': '40px'}" 
                    [showClear]="true" 
                    placeholder="Select Warehouse" 
                    appendTo="body" 
                    [class.disabled]="selectedWarehouse.length == 0" 
                    optionValue="WarehouseID"
                    (onChange)="onSelectWarehouse($event)"
                    
                />
            </div>
            <!-- (onChange)="onSelectWarehouse($event)" -->
        <!-- </div> -->


        <div class="field">
            <label class="font-semibold">Partition</label>
                <p-dropdown 
                    formControlName="WarehousePartitionID"
                    [options]="warehousePartition" 
                    optionLabel="WarehousePartitionName" 
                    [style]="{'height': '40px'}" 
                    [showClear]="true" 
                    placeholder="Select Partition" 
                    appendTo="body" 
                    [class.disabled]="selectedPartition.length == 0" 
                    optionValue="WarehousePartitionID"
                ></p-dropdown>
        </div>


        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > 
                        Quantity 
                        <span class="required">*</span>
                    </label>
                    <p-inputNumber 
                        class="block" 
                        formControlName="Quantity" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of bags" 
                        [style]="{'width': '100%'}"
                    ></p-inputNumber> 
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > 
                        Unit Of Measure 
                        <span class="required">*</span>
                    </label>
                    <!-- <p-inputNumber 
                        class="block" 
                        formControlName="Weight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of kg" 
                        [style]="{'width': '100%'}"
                    ></p-inputNumber>  -->
                    <p-dropdown 
                        [options]="unitOfMeasure" 
                        formControlName="BinloadUomID" 
                        optionLabel="BinloadUom" 
                        [style]="{'height': '40px'}" 
                        [showClear]="true" 
                        placeholder="Select Unit of Measure" 
                        optionValue="BinloadUomID"
                    ></p-dropdown>
                </div>
            </div>

        </div>

        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Driver 
                        <span class="required">*</span>
                    </label>
                    <!-- <div class="card flex justify-content-center"> -->
                        <p-dropdown 
                            [options]="driver" 
                            formControlName="DriverID" 
                            optionLabel="DriverName" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Driver"
                            optionValue="DriverID"
                            [filter]="true"
                        ></p-dropdown>
                    <!-- </div> -->
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Plate No 
                        <span class="required">*</span>
                    </label>
                    <!-- <div class="card flex justify-content-center"> -->
                        <p-dropdown 
                            [options]="truck" 
                            formControlName="TruckID" 
                            optionLabel="PlateNo" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Plate No." 
                            optionValue="TruckID"
                            [filter]="true"
                        ></p-dropdown>
                    <!-- </div> -->
                </div>
            </div>

        </div>


        <!-- <div class="flex justify-content-end">
            <button 
                pButton 
                pRipple 
                icon="pi pi-check" 
                label="Submit" 
                [style]="{width: 'auto'}"
                class="p-button-primary border-round p-2"
                [disabled]="!binloadRequestForm.valid"    
            >
            </button>
        </div> -->

        <div class="flex justify-content-end align-items-center">
            <app-submit-button 
                [submitLoading]="requestSubmitLoading" 
                [form]="binloadRequestForm" 
            /> 
        </div>

  
    </form>
</p-dialog>



<!-- ======= BINLOAD MODAL FORM ======== -->
<p-dialog 
    header="{{ dialogHeader }}" 
    [(visible)]="visible" 
    [modal]="true" 
    [maximizable]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false" 
    #dialog
>
    <form [formGroup]="binloadForm" class="p-fluid" (ngSubmit)="onSubmitBinload()">  


        <div class="grid">
            <div class="col">
                <div class="field">
                    <label class="font-semibold" > Request Date </label>
                    <p-calendar 
                        formControlName="RequestDate" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy" 
                        [showTime]="true" 
                        hourFormat="12" 
                        appendTo="body" 
                        [style]="{'width': '100%'}"
                        class="disabled"
                    ></p-calendar>
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >Plant</label>
                    <!-- <div class=" disabled"> -->
                        <p-dropdown 
                            [options]="plant" 
                            formControlName="PlantID" 
                            optionLabel="PlantName" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Plant" 
                            optionValue="PlantID"
                            [class.disabled]="true"
                        ></p-dropdown>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Raw Material 
                    </label>
                    <!-- <div class="disabled"> -->
                        <p-dropdown 
                        [class.disabled]="true"
                            [options]="rawMaterial" 
                            formControlName="RawMaterialID" 
                            optionLabel="RawMaterial" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Raw Material"
                            optionValue="RawMaterialID"
                            [filter]="true"
                        ></p-dropdown>
                    <!-- </div> -->
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > Location </label>
                    <!-- <div [class.disabled]="true"> -->
                        <p-dropdown 
                        [class.disabled]="true"
                            [options]="warehouseLocation" 
                            formControlName="WarehouseLocationID" 
                            optionLabel="WarehouseLocation" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Location" 
                            (onChange)="onSelectLocation($event.value)"
                            optionValue="WarehouseLocationID"
                        ></p-dropdown>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col">
                <div class="field">
                    <label class="font-semibold" > Warehouse </label>
                    <!-- <div [class.disabled]="true"> -->
                        <p-dropdown 
                        [class.disabled]="true"
                            [options]="warehouse" 
                            formControlName="WarehouseID" 
                            optionLabel="Warehouse_Name" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Warehouse" 
                            (onChange)="onSelectLocation($event.value)"
                            optionValue="WarehouseID"
                        ></p-dropdown>
                    <!-- </div> -->
                </div>
            </div>

            <!-- <div class="col">
                <div class="field">
                    <label class="font-semibold" > Partition </label>
                   
                        <p-dropdown 
                            [class.disabled]="true"
                            [options]="warehousePartition" 
                            formControlName="WarehousePartitionID" 
                            optionLabel="WarehousePartitionName" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Partition" 
                            (onChange)="onSelectLocation($event.value)"
                            optionValue="WarehousePartitionID"
                        ></p-dropdown>
                </div>
            </div> -->
        </div>


        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > Request Quantity </label>
                    <p-inputNumber 
                        [class.disabled]="true"
                        formControlName="RequestQuantity" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of bags" 
                        [style]="{'width': '100%'}"
                    ></p-inputNumber> 
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > Unit of Measure </label>
                    <!-- <p-inputNumber 
                        class="block disabled" 
                        formControlName="RequestWeight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of kg" 
                        [style]="{'width': '100%'}"
                    ></p-inputNumber>  -->
                    <p-dropdown 
                        [options]="unitOfMeasure" 
                        formControlName="BinloadUomID" 
                        optionLabel="BinloadUom" 
                        [style]="{'height': '40px'}" 
                        [showClear]="true" 
                        placeholder="Select Unit of Measure" 
                        optionValue="BinloadUomID"
                        [class.disabled]="true"
                    ></p-dropdown>
                </div>
            </div>

        </div>

        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >Driver</label>
                        <p-dropdown 
                        [class.disabled]="true"
                            [options]="driver" 
                            formControlName="DriverID" 
                            optionLabel="DriverName" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Driver"
                            optionValue="DriverID"
                            [filter]="true"
                        ></p-dropdown>
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >Plate No</label>
                        <p-dropdown 
                        [class.disabled]="true"
                            [options]="truck" 
                            formControlName="TruckID" 
                            optionLabel="PlateNo" 
                            [style]="{'height': '40px'}" 
                            [showClear]="true" 
                            placeholder="Select Plate No." 
                            optionValue="TruckID"
                            [filter]="true"
                        ></p-dropdown>
                </div>
            </div>

        </div>
     
        <!-- <div class="field">
            <label class="font-semibold" >Control No</label>
            <input pInputText formControlName="ControlNo" autocomplete="off" class="input">
        </div> -->

        <!-- <div class="field">

            <label class="font-semibold" > 
                Control No 
                <span class="required">*</span>
            </label>


            <input 
                type="text" 
                pInputText 
                class="block" 
                formControlName="ControlNo" 
                inputId="integeronly" 
                autocomplete="off" 
                placeholder="Enter Control No" 
                [style]="{'width': '100%'}"
            />

        </div> -->

        <!-- <div class="field">

            <label class="font-semibold" >
                Plant 
                <span class="required">*</span>
            </label>

            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="plant" 
                    formControlName="PlantID" 
                    optionLabel="PlantName" 
                    [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" 
                    [showClear]="true" 
                    placeholder="Select Plant">
                </p-dropdown>
            </div>

        </div> -->

        <!-- <div class="field">

            <label class="font-semibold" >
                Checker 
                <span class="required">*</span>
            </label>

            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="checker" 
                    formControlName="CheckerID" 
                    optionLabel="CheckerName" 
                    [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" 
                    [showClear]="true" 
                    placeholder="Select Checker"
                ></p-dropdown>
            </div>

        </div> -->

        <!-- <div class="grid">

            <div class="col">

                <div class="field">

                    <label class="font-semibold" >
                        Driver 
                        <span class="required">*</span>
                    </label>

                    <div class="card flex justify-content-center">
                        <p-dropdown 
                            [options]="driver" 
                            formControlName="DriverID" 
                            optionLabel="DriverName" 
                            [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" 
                            [showClear]="true" 
                            placeholder="Select Driver"
                        ></p-dropdown>
                    </div>

                </div>

            </div>

            <div class="col">

                <div class="field">

                    <label class="font-semibold" >
                        Plate No 
                        <span class="required">*</span>
                    </label>
                    
                    <div class="card flex justify-content-center">
                        <p-dropdown 
                            [options]="truck" 
                            formControlName="TruckID" 
                            optionLabel="PlateNo" 
                            [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" 
                            [showClear]="true" 
                            placeholder="Select Plate No." 
                        ></p-dropdown>
                    </div>

                </div>

            </div>

        </div> -->

        <div class="grid">

            <div class="col">

                <div class="field">

                    <label class="font-semibold" >
                        Binload Date 
                        <span class="required">*</span>
                    </label>

                    <p-calendar 
                        formControlName="BinloadingDate" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy"  
                        appendTo="body" 
                        [style]="{'width': '100%'}"
                    ></p-calendar>
                </div> 

            </div>

            <div class="col">

                <div class="field">

                    <label class="font-semibold" >
                        Binload Date & Time 
                        <span class="required">*</span>
                    </label>

                    <p-calendar 
                        formControlName="BinloadingDateTime" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy" 
                        [showTime]="true" 
                        hourFormat="24" 
                        appendTo="body" 
                        [style]="{'width': '100%'}"
                    ></p-calendar>

                </div>
                
            </div>

        </div>

        <!-- <div class="field">

            <label class="font-semibold" >
                Raw Material 
                <span class="required">*</span>
            </label>

            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="rawMaterial" 
                    formControlName="RawMaterialID" 
                    optionLabel="RawMaterial" 
                    [style]="{'height': '40px', 'border': '1px solid white' , 'width': '100%'}" 
                    [showClear]="true" 
                    placeholder="Select Raw Material" 
                    (onChange)="onSelectRawMaterial($event)"
                ></p-dropdown>
            </div>

        </div> -->

        <div class="grid">

            <div class="col">

                <div class="field">

                    <label class="font-semibold" > 
                        Quantity 
                        <span class="required">*</span>
                    </label>

                    <p-inputNumber 
                        class="block" 
                        formControlName="Quantity" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of bags" 
                        [style]="{'width': '100%'}">
                    </p-inputNumber> 

                </div>

            </div>

            <div class="col">

                <div class="field">

                    <label class="font-semibold" > 
                        Weight 
                        <span class="required">*</span>
                    </label>

                    <p-inputNumber 
                        class="block" 
                        formControlName="Weight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of kg" 
                        [style]="{'width': '100%'}"
                    ></p-inputNumber> 

                </div>

            </div>

        </div>

        <div class="field">

            <label class="font-semibold" >
                Intake 
                <span class="required">*</span>
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="intake" 
                    formControlName="IntakeID" 
                    optionLabel="IntakeID" 
                    [style]="{'height': '40px'}" 
                    [showClear]="true" 
                    placeholder="Select Intake"
                    optionValue="IntakeID"
                ></p-dropdown>
            <!-- </div> -->

        </div>

        <!-- <div class="field">

            <label class="font-semibold" >
                Checker 
                <span class="required">*</span>
            </label>

            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="checker" 
                    formControlName="CheckerID" 
                    optionLabel="CheckerName" 
                    [style]="{'height': '40px', 'border': '1px solid white', 'width': '100%'}" 
                    [showClear]="true" 
                    placeholder="Select Checker"
                    optionValue="CheckerTypeID"
                ></p-dropdown>
            </div>

        </div> -->

        <!-- <div class="flex justify-content-end">
            <button 
                pButton 
                pRipple 
                icon="pi pi-check" 
                label="Submit" 
                [style]="{width: 'auto'}"
                class="p-button-primary border-round p-2"
                [disabled]="!binloadForm.valid"    
            >
            </button>

        </div> -->

        <div class="flex justify-content-end gap-2">
            <app-submit-button 
                [submitLoading]="requestSubmitLoading" 
                [form]="binloadForm" 
            /> 
        </div>
  
       
  
    </form>
</p-dialog>



<!-- ========= WAREHOUSE PARTITION| STOCK MODAL FORM ========== -->
<p-dialog 
    header="Partition Stock" 
    [(visible)]="partitionModal" 
    [modal]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '60vw' }" 
    [draggable]="false" 
    [resizable]="false" 
    [maximizable]="true"
    selectionMode="single" 
>
    <form 
        class="w-full mb-3" 
    >  
        <div class="zxc">
            <p-table #dt_orders [value]="rawMatsPartitionStock"   [scrollable]="true"    scrollHeight="flex" >
                <ng-template pTemplate="header">
                    <tr class="thead">
                        <th style="width: 4rem"></th>
                        <th> Stocking Date </th>
                        <th> Raw Material </th>
                        <th> Warehouse</th>
                        <th> Partition </th>
                        <th> Quantity </th>   
                        <th> Weight </th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <p-tableRadioButton 
                            [value]="row" 
                            (click)="onSelectPartitionStock(row)"
                        >
                        </p-tableRadioButton>
                    </td>
                    <td data-title="Stocking Date ">
                        {{row.StockingDate.date | date: 'MM/dd/yyyy'}}
                    </td>
                    <td data-title="Stocking Date ">
                        {{row.RawMaterial}}
                    </td>
                    <td data-title="Warehouse ">
                        {{row.WarehouseLocation}} - {{row.Warehouse_Name}}
                    </td>
                    <td data-title="Warehouse Partition ">
                        {{row.WarehousePartitionName}}
                    </td>
                    <td data-title="Finish Product Quantity ">
                        {{row.RawMatsQty}}
                    </td>
                    <td data-title="Finish Product Weight ">
                        {{row.RawMatsWeight}}
                    </td>
    
                </tr>
                </ng-template>
    
            </p-table>
        </div>

        
        <!-- <div class="text-right mt-3">
            <button pButton pRipple label="Okay" class="bg-indigo-500 border-round border-none submit px-3" (click)="showPartitionStockDialog()"></button>
        </div> -->

    </form>

    <ng-template pTemplate="footer">
        <!-- <div class="text-right mt-3">
            <button pButton pRipple label="Okay" class="bg-indigo-500 border-round border-none submit px-3" (click)="showPartitionStockDialog()"></button>
        </div> -->
        <button 
            type="button" 
            pButton 
            pRipple 
            icon="pi pi-times" 
            (click)="partitionModal=false" 
            label="Okay" 
            class="p-button-text">
        </button>
    </ng-template>

</p-dialog>