<div class="table" >
    <p-table 
        #dt3 
        [value]="unloadedBL" 
        dataKey="MBL" 
        [scrollable]="true" 
        scrollHeight="330px" 
        [tableStyle]="{ 'width': '100%' }" 
        [globalFilterFields]="['RawMaterial']" 
        *ngIf="!isLoading"
    >
        <ng-template pTemplate="header">
            <tr class="thead">
                <th style="width: 5rem"></th>
                <th pSortableColumn="MBL">   
                    MBL
                    <p-sortIcon field="MBL" />
                </th>
                <th pSortableColumn="BL">   
                    BL
                    <p-sortIcon field="BL" />
                </th>
                <th pSortableColumn="RawMaterial">   
                    Raw Material
                    <p-sortIcon field="RawMaterial" />
                </th>
                <th pSortableColumn="Quantity">   
                    Quantity
                    <p-sortIcon field="Quantity" />
                </th>
                <th pSortableColumn="Supplier">   
                    Supplier
                    <p-sortIcon field="Supplier" />
                </th>
                <th pSortableColumn="NoofLoaded">   
                    No Of Unloaded
                    <p-sortIcon field="NoofLoaded" />
                </th>
                <th pSortableColumn="TotalWeight">   
                    Total Weight
                    <p-sortIcon field="TotalWeight" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-expanded="expanded">
            <tr>
                <td>
                    <p-button 
                        pRipple 
                        [style]="{'background': 'none', 'border': 'none', 'color': 'gray'}" 
                        [pRowToggler]="row" 
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" 
                    />
                </td>
                <td>
                    <span *ngIf="row.MBL" [innerHTML]="row.MBL | highlight:searchValue">
                        {{ row.MBL}}
                    </span>
                    <span *ngIf="!row.MBL">-</span>
                </td>
                <td>
                    <span *ngIf="row.BL != 0" [innerHTML]="row.BL | highlight:searchValue">{{ row.BL}}</span>
                    <span *ngIf="row.BL == 0"> {{ ' - ' }} </span>
                </td>
                <td>
                    <span [innerHTML]="row.RawMaterial | highlight:searchValue" *ngIf="row.RawMaterial">{{ row.RawMaterial }}</span>
                    <span *ngIf="!row.RawMaterial">-</span>
                </td>
                <td>{{ row.Quantity | number}}</td>
                <td>
                    <span *ngIf="row.Supplier" [innerHTML]="row.Supplier | highlight:searchValue">{{ row.Supplier }}</span>
                    <span *ngIf="!row.Supplier">-</span>
                </td>
                <td>{{ row.NoofLoaded == 0 ? '-' : row.NoofLoaded }}</td>
                <td>{{ row.TotalWeight == 0 ? '-' : row.TotalWeight | number}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3">There is no data found.</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-unloaded>
            <tr>
                <td colspan="8">
                    <div class="p-3">
                        <p-table [value]="unloaded.UnloadDetail" dataKey="MBL" [scrollable]="true" scrollHeight="300px">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th> Item # </th>
                                    <th> Date Unload </th>
                                    <th> Container # </th>
                                    <th> Plate # </th>
                                    <th> Dr # </th>
                                    <th> Weight </th>
                                    <th> Trucking </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-detail let-rowIndex="rowIndex">
                                <tr>
                                    <td> {{rowIndex + 1}} </td>
                                    <td> {{ detail.DateUnload.date | date: 'MM/dd/yyyy' }} </td>
                                    <td> {{ detail.ContainerNumber == null ? '-' : detail.ContainerNumber }} </td>
                                    <td> {{ detail.PlateNo }} </td>
                                    <td> {{ detail.DrNumber }} </td>
                                    <td> {{ detail.Weight | number }} </td>
                                    <td> {{ detail.TruckingName == null ? '-' : detail.TruckingName }} </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">There are no unloaded for this MBL yet.</td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>

    </p-table>
  
    <div class="text-center my-3" *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
</div>