<p-table 
    [value]="recentBinload"
    dataKey="PlantName"  
    *ngIf="!binloadLoading"             
>
    <ng-template pTemplate="header">
    </ng-template>

    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-expanded="expanded">
        <tr> 
            <td class="text-left">
                    <div class="flex align-items-center gap-2">
                        <span class="material-symbols-outlined text-xl p-2 border-circle {{getClass(rowIndex)}}">
                            factory
                        </span>
                        {{ row.PlantName }}
                    </div>
            </td> 
            <td class="text-left">
                    <span>{{ row.TodayBinloadWeight | number}} kg</span>
                    <span class="sub-text"> {{ row.TodayBinloadQty | number }} bag</span>
            </td>
            <td>
                    <i 
                        class="pi {{expanded ? 'pi-angle-up' : 'pi-angle-down'}} p-2 border-circle cursor-pointer hover:bg-indigo-100" 
                        [pRowToggler]="row" 
                    ></i>
                    
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-binload>
        <tr>
            <td colspan="10">
                    <div class="p-3">
                        <p-table [value]="binload.Binload" dataKey="id">
                            <ng-template pTemplate="header">
                            <tr>
                                <th> Binloading Date </th>
                                <th> Control # </th>
                                <th> Intake </th>
                                <th> Quantity </th>
                                <th> Weight </th>
                                <th> Checker </th>
                                <th style="width: 4rem"></th>
                            </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-row>
                            <tr>
                                <td>{{ row.BinloadingDate?.date | date: 'MM/dd/yyyy' }}</td>
                                <td> {{ row.ControlNo }}</td>
                                <td> {{ row.IntakeID }}</td>
                                <td> {{ row.Quantity }}</td>
                                <td> {{ row.Weight }}</td>
                                <td> {{ row.CheckerName }}</td>
                            </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no binload for this plant yet.</td>
                            </tr>
                            </ng-template>
                        </p-table>
                    </div>
            </td>
        </tr>

        <ng-template pTemplate=emptymessage>
            No binload for this request.
        </ng-template>

    </ng-template>

</p-table>

<div *ngIf="binloadLoading"> 
    <h1>Loading...</h1>
</div>