


    <div class="cards__container" *ngIf="!cardsLoading">

        <ng-template ngFor let-row [ngForOf]="warehouseLocation" let-i="index">

            <app-cards-location 
                [row]="row" 
                [isnightMode]="isnightMode"
            ></app-cards-location>        

        </ng-template>

    </div>


    <app-cards-location-loader  
          *ngIf="cardsLoading"
     />

    <div class="transactions__container">
     
     
          <div class="surface-container flex flex-column">

               <h6 class="container__title ">Recent Transaction</h6>

   
               <app-tab 
                    [selectedOption]="selectedOption" 
                    (setOption)="tabChange($event)"
               ></app-tab>

               <div class="h-full overflow-y-auto">

            
                    <app-dashboard-recent-unload 
                         [recentUnload]="recentUnload"
                         [unloadLoading]="unloadLoading"
                         *ngIf="selectedOption == 1"
                    />

     
                    <app-dashboard-recent-binload 
                         [recentBinload]="recentBinload" 
                         [selectedOption]="selectedOption"
                         [binloadLoading]="binloadLoading"
                         *ngIf="selectedOption == 2"
                    />

               </div>
               
          </div>

          <div class="surface-container flex flex-column">
   
               <app-dashboard-recent-transfer />
          </div>
   
     </div>


     <div class="grid mb-3">


          <div class="col-12 xl:col-9">
               <app-dashboard-received 
                    [landedShipping]="landedShipping"
                    [receivedLoading]="receivedLoading"
               />
          </div>

          <div class="col-12 xl:col-3">
               <app-dashboard-rawmats 
                    [rawMaterial]="rawMaterial" 
                    [rawmatsLoading]="rawmatsLoading" 
               />
          </div>
     
     </div>





 <!-- <div class="card">
     <table border="1">

          <tr>
               <th rowspan="2">Item Descriptopm</th>
               <th>Item Descriptopm</th>
          </tr>

          <tr>
               <th>Number of days buffer</th>
          </tr>

     </table>
 </div> -->

 <!-- <div class="table">
     <p-table [tableStyle]="{ 'min-width': '50rem',  }">
          <ng-template pTemplate="header">
              <tr>
                    <th rowspan="2">Item Description</th>
                    <th rowspan="2">Stock On Hand</th>
                    <th rowspan="2">Average Use</th>
                    <th colspan="4">Icoming Within 30 days</th>
              </tr>
              <tr>
                    <th>Number Of Days buffer</th>
                    <th>Number Of Days buffer</th>
                    <th>Number Of Days buffer</th>
                    <th>Number Of Days buffer</th>
               </tr>
          </ng-template>
          <ng-template pTemplate="body" >
              <tr>
                  <td>zxc</td>
                  <td>zxc</td>
                  <td>zxc</td>
                  <td>zxc</td>
              </tr>
          </ng-template>
      </p-table>
 </div> -->
