

<button 
    pButton pRipple 
    class="add__btn" 
    (click)="showDialog(unloadingModal)" 
>
    <i class='bx bx-plus'></i> 
    <span>Add Item</span>
</button>



<!-- ======= MODAL FORM ======== -->
<p-dialog 
    header="Create Unloading" 
    [(visible)]="visible" 
    [modal]="true" 
    [maximizable]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false" 
    #unloadingModal
>
    <form 
        [formGroup]="unloadingTransactionForm" 
        class="p-fluid" 
        (ngSubmit)="onSubmit()" 
    >  

        <label class="font-semibold" >
            PO 
            <span class="required">*</span>
        </label>

        <p-dropdown 
            [options]="po" 
            formControlName="PO" 
            optionLabel="PONo" 
            [style]="{'height': '40px', 'border': '1px solid white'}" 
            [showClear]="true" 
            [filter]="true"
            placeholder="Select or Enter PO" 
        ></p-dropdown>
            <!-- (onChange)="onSelectPO($event.value)" -->



        <div class="grid" >

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Date Unload 
                        <span class="required">*</span>
                    </label>
                    <p-calendar 
                        formControlName="DateUnload" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy" 
                        appendTo="body" 
                        [maxDate]="maxDate"
                    ></p-calendar>
                </div>

            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Date & Time Unload 
                    </label>
                    <p-calendar 
                        formControlName="DateTimeUnload" 
                        [showIcon]="true" placeholder="mm/dd/yyyy" 
                        [showTime]="true" 
                        hourFormat="24" 
                        [style]="{'width': '100%'}"
                        [maxDate]="maxDate"
                        [class.disabled]="true"
                    >
                    </p-calendar>
                </div>
            </div>

        </div>

        <div class="field">
            <label class="font-semibold" >
                Dr Number 
                <span class="required">*</span>
            </label>

            <input 
                pInputText 
                formControlName="DrNumber" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter Dr Number"
            >
        </div>

        <!-- <div class="grid nested-grid">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Supplier 
                        <span class="required">*</span>
                    </label>

              
                    <p-dropdown 
                        [options]="localSupplier" 
                        formControlName="SupplierID" 
                        optionLabel="Supplier" 
                        [style]="{'height': '40px', 'border': '1px solid white'}" 
                        [showClear]="true" 
                        placeholder="Select Supplier" 
                        [filter]="true"
                        *ngIf="value == 1"
                    ></p-dropdown>


                    <p-dropdown 
                        [options]="supplier" 
                        formControlName="SupplierID" 
                        optionLabel="Supplier" 
                        [style]="{'height': '40px', 'border': '1px solid white'}" 
                        [showClear]="true" 
                        placeholder="Select Supplier" 
                        [filter]="true"
                        *ngIf="value == 2"
                    ></p-dropdown>

                </div>
            </div>

            <div class="col">

                <div class="field">

                    <label class="font-semibold" >
                        Plate No. 
                        <span class="required">*</span>
                    </label>

                    <div class="flex gap-2">

                        <p-dropdown 
                            [options]="truck" 
                            formControlName="TruckID" 
                            optionLabel="PlateNo" 
                            [style]="{'height': '40px', 'border': '1px solid white'}" 
                            [showClear]="true" 
                            placeholder="Select Plate No" 
                            [filter]="true"
                            class="flex-1"
                        ></p-dropdown>

                        <p-button 
                            icon="pi pi-plus" 
                            (click)="showTruckDialog()" 
                            pTooltip="New Truck" 
                            tooltipPosition="left"
                        />

                    </div>

                </div>

            </div>

        </div> -->
      

        <!-- <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > 
                        Warehouse 
                        <span class="required">*</span>
                    </label>
                        <p-dropdown 
                            [options]="warehouse" 
                            formControlName="WarehouseID" 
                            optionLabel="LocationName" 
                            [style]="{'height': '40px', 'border': '1px solid white'}" 
                            [showClear]="true" 
                            [filter]="true"
                            placeholder="Select Warehouse" 
                            (onChange)="onSelectWarehouse($event.value)"
                        ></p-dropdown>
                </div> 
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Warehouse Partition 
                        <span class="required">*</span>
                    </label>

                    <p-dropdown 
                        [options]="selectedWarehouse" 
                        formControlName="WarehousePartitionID" 
                        optionLabel="WarehousePartitionName" 
                        [style]="{'height': '40px', 'border': '1px solid white'}" 
                        [showClear]="true" 
                        placeholder="Select Warehouse"
                    ></p-dropdown>

                </div>
            </div>

        </div> -->

        <!-- <div class="field" *ngIf="value != 0">

            <label class="font-semibold" > 
                Raw Material 
                <span class="required">*</span>
            </label>

            <p-dropdown 
                [options]="rawMaterial" 
                formControlName="RawMaterialID" 
                optionLabel="RawMaterial" 
                [style]="{'height': '40px'}" 
                [showClear]="true" 
                [filter]="true"
                filterBy="RawMaterial" 
                placeholder="Select Raw Material"
            ></p-dropdown>

        </div> -->

        <!-- <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Quantity 
                    </label>

                    <p-inputNumber 
                        formControlName="Quantity" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of bags"
                        [class.disabled]="true"
                    ></p-inputNumber> 

                </div>
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Weight 
                    </label>

                    <p-inputNumber 
                        formControlName="Weight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of kg"
                        [class.disabled]="true"
                    ></p-inputNumber> 

                </div>
            </div>

        </div> -->

        <!-- <div class="field" *ngIf="value != 0">

            <label class="font-semibold" >
                Image 
                <span class="required">*</span>
            </label>

            <p-fileUpload 
                #fileUpload
                chooseLabel="Choose" 
                [customUpload]="true"
                chooseIcon="pi pi-upload"
                accept="image/*" 
                [multiple]="true"
                [maxFileSize]="1000000"
                (onSelect)="onUpload($event)" 
            >
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length > 0">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>

        </div> -->

        <!-- <div class="field" *ngIf="BeforeImage">
            <p-image 
                src="{{BeforeImage}}" 
                alt="Image" 
                width="250" 
                [preview]="true" 
            />
        </div> -->

        <div class="flex justify-content-end">
            <!-- <button 
                pButton 
                pRipple 
                label="Submit" 
                icon="pi pi-check"
                class="bg-indigo-500 border-round border-none submit" 
                [loading]="true"
                [disabled]="!unloadingTransactionForm.valid"
                ></button> -->

                <!-- [submitLoading]="submitLoading"  -->
                <app-submit-button 
                    [form]="unloadingTransactionForm"
                /> 
        </div>

    </form>
</p-dialog>