.title {
    font-weight: var(--font-medium);
    margin-bottom: 40px;
    position: relative;
    font-size: 2rem;
}

/* ==== SEARCH, ADD, EXPORT ==== */
.controls {
    margin-bottom: 15px;
}

.input__search {
    padding: 6px 0;
    margin-right: 20px;
}

.bttn {
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 20px;
}

:host ::ng-deep .p-buttonset .p-button:first-of-type {
    padding: 5px 10px;
}

:host ::ng-deep .p-buttonset .p-button:last-of-type {
    padding: 5px 10px;
}

:host ::ng-deep .p-buttonset .p-button:not(:first-of-type):not(:last-of-type) {
    padding: 5px 10px;
}


/* ==== TABLE ==== */
.table {
    border: 1px solid #E5E7EB;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    background: #ffffff;
    box-shadow:  0px 4px 30px rgba(221, 224, 255, .54);
    transition: .3s all ease;
}
.table:hover {
    box-shadow: none;
}
.p-datatable-table {
    border-spacing: 0px;
    width: 200px;
    background: blue;
}
td, th {
    padding: 10px 5px;
}

td {
    color: 	#808080;
    border: 1px lightgray;
    border-bottom-style: dotted;
}
tr:hover {
    background: #f8f9fa;
}


/* ==== MODAL FORM ==== */

.disabled {
    opacity: 0.4;
    pointer-events: none; /* prevents interactions */
}

:host ::ng-deep .p-calendar {
    height: 41px;
}

:host ::ng-deep .p-calendar button{
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}


:host ::ng-deep .p-dropdown-label {
    padding: 7px 10px;
}

:host ::ng-deep p-dropdown ul {
    padding: 0;
}


input {
    padding: 7px 10px;
}

p-inputNumber ::ng-deep input {
    padding: 7px 10px;
}

.p-inputtext.ng-dirty.ng-invalid {
    border-color: #ced4da;
}


.submit__btn {
    background: var(--first-color);
    color: white;
    width: 100%;
    border: none;
    padding: 7px 0;
    border-radius: 7px;
}
.submit {
    padding: 7px 0;
}

:host ::ng-deep .p-dropdown-label {
    padding: 7px 10px;
}

:host ::ng-deep p-dropdown ul {
    padding: 0;
}

.warning {
    background: yellow;
    color: white;
}