<app-content-header [title]="'System Logs'"></app-content-header>

<div class="text-center my-3" *ngIf="isLoading">
    <app-loader></app-loader>
</div>


<div class="table" *ngIf="!isLoading && view">

    <p-table 
        [value]="filteredLogs()" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
    >

        <ng-template pTemplate="caption">
            <div div class="flex gap-2 mb-4 ">

                <span class="p-float-label">
                    <p-calendar 
                        id="from_date" 
                        [showIcon]="true" 
                        [(ngModel)]="fromDate"
                        (onSelect)="onFilterData(fromDate, toDate)"
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="from_date" 
                        appendTo="body" 
                     
                    >
                        Start date
                    </label>
                </span>
                
                <span class="p-float-label">
                    <p-calendar 
                        id="to_date" 
                        [showIcon]="true" 
                        [(ngModel)]="toDate"
                        (onSelect)="onFilterData(fromDate, toDate)"
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="to_date" 
                        appendTo="body" 
                     
                    >
                        End date
                    </label>
                </span>

                <p-dropdown 
                    [options]="logs" 
                    [(ngModel)]="selectedLog" 
                    optionLabel="logName" 
                    placeholder="Select a Log" 
                    optionValue="logID"
                    [style]="{width: '170px'}"
                    [(ngModel)]="selectedLog"
                />

                <p-dropdown 
                    [options]="tableNames" 
                    optionLabel="tableName" 
                    placeholder="Select a Table" 
                    optionValue="tableName"
                    [style]="{width: 'auto'}"
                    [(ngModel)]="selectedTableName"
                />

            </div>

            <span class="filter-container" *ngIf="(fromDate && toDate) || selectedLog || selectedTableName">
                <span class="title">
                    Filter: 
                </span>
                
                <p-chip 
                    label="{{fromDate | date: 'MMM dd, yyyy' }} - {{ toDate | date: 'MMM dd, yyyy'}}" 
                    [removable]="true" 
                    class="mr-2"
                    (onRemove)="handleChipRemove()"
                    *ngIf="fromDate && toDate"
                />

                <p-chip 
                    label="{{findLogName(selectedLog)}}" 
                    [removable]="true" 
                    (onRemove)="onRemoveLogChip()"
                    *ngIf="selectedLog"
                />

                <p-chip 
                    label="{{selectedTableName}}" 
                    [removable]="true" 
                    (onRemove)="onRmoveTableChip()"
                    *ngIf="selectedTableName"
                />

            </span>

        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Functionality</th>
                <th>Table Name</th>
                <th>Name</th>
                <th>Activity</th>
                <th>Updated Data</th>
                <th>Date & Time</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
            <tr>
                <td class="{{getFunction(row.FunctionID)}}"> 
                    <div class="flex align-items-center ">
                        <i class="{{ getIcon(row.FunctionID) }} flex text-xl"></i> 
                        {{ row.Functionality }}
                    </div>
                </td>
                <td>{{ row.TableName }}</td>
                <td>
                    {{ row.Name || '-' }}
                    <span class="sub-text">{{ row.ModuleName || '-'}}</span>
                </td>
                <td>{{ row.Activity || '-'}}</td>
                <td>{{ row.UpdatedData ? row.UpdatedData : '-'}}</td>
                <td>{{ (row.Time.date | date: 'MM/dd/yyyy hh:mm a') || '-' }}</td>
            </tr>
        </ng-template>

    </p-table>

</div>