
section {
    max-width: 1200px;
    margin: 0 auto;
}

.detail-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.detail-title h1{
    font-size: 25px;
    font-weight: var(--font-700);
    color: var(--font-color-dark);
    margin: 0;
}

.detail-title a {
    color: var(--primary-color);
    font-weight: var(--font-500);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.detail-container {
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--surface-color);
    box-shadow:  var(--card-box-shadow);
    border: var(--card-border);
}

.detail-header {
    border-radius: 10px 10px 0 0;
    padding: 20px 40px;
    background: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-header span {
    font-size: var(--font-base);
    font-weight: var(--font-600);
    letter-spacing: .5px;
}

.detail-content {
    padding: 20px 40px;
    color: var(--font-color-dark);
    font-weight: var(--font-500);
    letter-spacing: .2px;
}

.detail-content .row {
    display: flex;
    flex-direction: row;
}


.detail-content .icon {
    color: var(--primary-color);
}

.text-secondary {
    color: #9e9e9e;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-radius: 8px;
    background: var(--tab-color);
}

.view-images {
    font-weight: var(--font-400); 
    color: var(--primary-color);
    cursor: pointer;
}
.view-images:hover {
    text-decoration: underline;
}
