<p-dialog 
    header="Raw Material Inspection" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <form 
        [formGroup]="rawMatsInspectionForm" 
        class="p-fluid" 
        (ngSubmit)="onSubmit()"
        #form="ngForm"
    >  

        <div class="grid">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" >
                        Inspection Date 
                        <span class="text-red-400">*</span>
                    </label>

                    <p-calendar 
                        formControlName="InspectionDate" 
                        [showIcon]="true" 
                        appendTo="body" 
                    ></p-calendar>

                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['InspectionDate'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>
                </div>

            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" >
                        DR No.
                        <span class="text-red-400">*</span>
                    </label>

                    <input 
                        pInputText 
                        formControlName="DRNumber" 
                        autocomplete="off" 
                        class="input" 
                    >

                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['DRNumber'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>

                </div>
            </div>

        </div>

        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Sample Code
                        <span class="text-red-400">*</span>
                    </label>
                    <input pInputText formControlName="SampleCode" autocomplete="off" class="input">
                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['SampleCode'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Plate No
                        <span class="text-red-400">*</span>
                    </label>
                    <input pInputText formControlName="PlateNo" autocomplete="off" class="input">
                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['PlateNo'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>
                </div>
            </div>

        </div>


        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > 
                        Raw Material 
                        <span class="text-red-400">*</span>
                    </label>
            
                    <p-dropdown 
                        [options]="rawMaterials" 
                        optionLabel="RawMaterial" 
                        formControlName="RawMaterialID"
                        [style]="{'height': '40px'}" 
                        [showClear]="true" 
                        [filter]="true"
                        appendTo="body"
                        placeholder="select"
                        optionValue="RawMaterialID"
                        (onChange)="getStandard($event.value)"
                    ></p-dropdown>

                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['RawMaterialID'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" >
                        Container No.
                        <span class="text-red-400">*</span>
                    </label>

                    <input 
                        pInputText 
                        formControlName="ContainerNumber" 
                        autocomplete="off" 
                        class="input"
                    >

                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['ContainerNumber'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>

                </div>
            </div>

        </div>

      
        <div class="grid">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > 
                        Supplier 
                        <span class="text-red-400">*</span>
                    </label>
            
                    <p-dropdown 
                        [options]="supplier" 
                        optionLabel="Supplier" 
                        formControlName="SupplierID"
                        [style]="{'height': '40px'}" 
                        [showClear]="true" 
                        [filter]="true"
                        placeholder="select"
                        optionValue="SupplierID"
                        appendTo="body"
                    ></p-dropdown>

                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['SupplierID'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>

                </div>
            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Time of Sampling
                        <span class="text-red-400">*</span>
                    </label>
                    <!-- <input pInputText formControlName="ContainerNumber" autocomplete="off" class="input"> -->
                    <p-calendar 
                        inputId="calendar-24h" 
                        formControlName="TimeOfSampling" 
                        [showTime]="true" 
                        hourFormat="24" 
                        appendTo="body"
                        [timeOnly]="true"
                    />

                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['TimeOfSampling'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>
                </div>
            </div>

        </div>

        <div class="field" *ngIf="rawMatsInspectionForm.value.RawMaterialID">

            <label class="font-semibold">
                Analysis Information
            </label>

            <p-table 
                #dt2
                [value]="analysisInformation" 
                [tableStyle]="{ 'width': '100%' }" 
                [globalFilterFields]="['RawMaterial', 'Category']"
            >

                <ng-template pTemplate="header">
                    <tr class="thead">
                        <th>Analysis Type</th>
                        <th>Standard</th>
                        <th>Result</th>
                    </tr> 
                </ng-template>
            
                <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
                    <tr [class]="row.Permission === 1 ? 'bg-red-100' : null">
                        <td>
                            {{ row.Parameter }}
                        </td>
                        <td>
                            <span *ngIf="row.boolean === 1"> {{ row.Value == 1 ? 'Negative': null }} </span>
                            <span *ngIf="row.boolean === 0 && +row.Value != -1"> NMT {{ row.Value }}% </span>
                            <span *ngIf="row.boolean === 0 && +row.Value === -1" class="text-sm"> AS INDICATED ON COA </span>
                        </td>
                        <td>
                            <p-inputNumber 
                                [(ngModel)]="row.Result" 
                                [ngModelOptions]="{standalone: true}" 
                                mode="decimal" 
                                [minFractionDigits]="2" 
                                [maxFractionDigits]="5" 
                                *ngIf="row.boolean === 0"
                                (ngModelChange)="validateResult(rowIndex)"
                                [disabled]="+row.Value === -1"
                            /> 

                            <p-dropdown 
                                [options]="positiveNegative" 
                                [(ngModel)]="row.Result" 
                                [ngModelOptions]="{standalone: true}" 
                                optionLabel="label" 
                                placeholder="select" 
                                appendTo="body"
                                optionValue="value"
                                [showClear]="true"
                                (onChange)="validateResult(rowIndex)"
                                *ngIf="row.boolean === 1"
                            />
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>


        <div class="grid" *ngIf="rawMatsInspectionForm.value.RawMaterialID">

           <div class="col">
                <div class="field">

                    <label class="font-semibold" >
                        Date and Time Released
                        <span class="text-red-400">*</span>
                    </label>
        
                    <p-calendar 
                        formControlName="DateTimeReleased" 
                        [showIcon]="true" 
                        appendTo="body" 
                        [showTime]="true" 
                    
                    ></p-calendar>
        
                    <p 
                        class="text-red-400 text-sm mt-1" 
                        *ngIf="rawMatsInspectionForm.controls['DateTimeReleased'].invalid && form.submitted"
                    >
                        This field is required.
                    </p>
                </div>
           </div>


            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Remarks
                    </label>
                    <input pInputText formControlName="Remarks" autocomplete="off" class="input">
                </div>
            </div>

        </div>
        

        <div class="flex justify-content-end gap-2">
            <p-button 
                icon="pi pi-times" 
                label="Cancel" 
                styleClass="p-button-rounded p-button-text"
                (click)="onToggleDialog()"
                type="reset"
            ></p-button>

            <p-button 
                type="submit"
                label="Submit" 
                icon="pi pi-check"
            />

            <!-- <app-submit-button 
                [submitLoading]="submitLoading" 
                [form]="rawMatsInspectionForm" 
            />  -->
        </div>
            

    </form>
</p-dialog>