.cards__container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 20px;
    margin-bottom: 20px;
}


.cards {
    height: 150px;
    padding: 20px;
    border: var(--card-border);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--surface-color);
    box-shadow:  var(--card-box-shadow);
    /* transition: var(--transition-3s) */
}

.cards .left-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.card__title {
    font-weight: 500;
    color: var( --font-color-dark);
}

.cards .card__number {
    display: block;
    font-weight: 700;
    font-size: var(--font-2xl);
    color: var(--font-color);
}

.cards .vsYesterdayGreen {
    /* background: var(--font-green-light); */
    color: var(--font-green);
    font-size: var(--font-sm);
    font-weight: 500;
    /* padding: 0 5px; */
    border-radius: 10px;
}

.cards .vsYesterdayRed {
    /* background: var(--font-red-light); */
    color: var(--font-red);
    font-size: var(--font-sm);
    font-weight: 500;
    /* padding: 0 7px; */
    border-radius: 10px;
}


.right-col {
    display: flex;
    justify-content: end;
    align-items: center;
}

.right-col .icon {
    font-size: var(--font-2xl);
    background: var(--tab-color);
    padding: 10px;
    border-radius: 10px;
    /* color: var(--font-color); */
    display: grid;
    place-items: center;

}


.surface-container {
    border: var(--card-border);
    border-radius: 8px;
    padding: 20px;
    height: 500px;
    /* background: #ffffff; */
    background: var(--surface-color);
    box-shadow: var(--card-box-shadow);
    /* transition: var(--transition-3s); */
    overflow: auto;
    width: 100%;
}

th {
    font-size: var(--font-sm);
    color: var(--font-color-dark);
}

td {
    font-size: var(--font-sm);
    color: var(--font-color);
    font-weight: var(--font-500);
    background: var(--surface-color);
}

.vehicle {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.truck-icon {
    background: var(--tab-color);
    font-size: var(--font-base);
    padding: 10px;
    border-radius: 50%;
}
