<div class="surface-container flex flex-column">

    <h6 class="container__title ">Received</h6>

    <div class="flex-1 overflow-y-auto">
        <p-table [value]="landedShipping" [tableStyle]="{ 'min-width': '50rem' }" *ngIf="!receivedLoading">
            <ng-template pTemplate="header">
                <tr class="hidden">
                    <th>ATA</th>
                    <th>BL</th>
                    <th>Raw Material</th>
                    <th>Served</th>
                    <th>Progress</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>
        
                        <span class=""> 
                            {{ row.ATA?.date | date: 'MMM dd, yyyy' }}
                        </span>
                        <span class="block text-xs font-medium text-500">
                            {{ row.ATA?.date | date: 'EEEE' }}
                        </span>
                    
                    </td>
                    <td>
                        <span class="font-medium" *ngIf="row.BL != 0">
                            {{ row.BL }} 
                        </span>
                        <span class="font-medium" *ngIf="row.MBL != 0">
                            {{ row.MBL }}
                        </span>
                        <span class="block text-xs text-500">
                            {{ row.Supplier }}
                        </span>
                    </td>
                    <td class="font-medium">
                        {{ row.RawMaterial }}
                        <span class="block text-xs font-medium text-500">  {{ row.Packaging === 1 ? 'Containerized' : 'Bulk' }} </span>
                    </td>
                    <td>
                        <span class="font-medium" *ngIf="row.NoOfContainer">
                            {{ row.Unloaded_Container }} / {{ row.NoOfContainer }} 
                            <span class="block text-xs font-medium text-500"> {{ row.Container }} </span>
                        </span>
                        <span class="font-medium" *ngIf="row.NoOfTruck">
                            {{ row.Unloaded_Truck }} / {{ row.NoOfTruck }}
                            <span class="block text-xs font-medium text-500"> Trucks </span>
                        </span>
                    </td>
                    <td class="w-7rem">
                        <p-progressBar 
                            [value]="getRoundedPercentage(row.Unloaded_Container, row.NoOfContainer, 1)" 
                            [style]="{ height: '6px'}" 
                            [showValue]="false"
                            *ngIf="row.NoOfContainer"
                        />
                        <p-progressBar 
                            [value]="getRoundedPercentage(row.Unloaded_Truck, row.NoOfTruck, 1)" 
                            [style]="{ height: '6px' }" 
                            [showValue]="false"
                            *ngIf="row.NoOfTruck"
                        />
                    </td>
                
                </tr>
            </ng-template>

        </p-table> 

        <app-dashb-table-loader 
            *ngIf="receivedLoading"
            [length]="9"
        />

    </div>

</div>