.title {
    font-weight: var(--font-medium);
    margin-bottom: 40px;
    position: relative;
    font-size: 2rem;
}

/* ==== SEARCH, ADD, EXPORT ==== */
.controls {
    margin-bottom: 30px;
}

.input__search {
    padding: 6px 0;
    margin-right: 20px;
}

.add__btn {
    /* background: var(--first-color); */
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.export__btn {
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
}


/* ==== TABLE ==== */
.table {
    border: 1.2px solid #E5E7EB;
    padding: 10px;
    border-radius: 10px;
    background: white;
}
.p-datatable-table {
    border-spacing: 0px;
    width: 200px;
    background: blue;
}
td, th {
    padding: 10px 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 150px;
}

th {
    padding-right: 10px;
}

td {
    color: 	#808080;
    border: 1px lightgray;
    border-bottom-style: dotted;
}
tr:hover {
    background: #f8f9fa;
}


/* ==== MODAL FORM ==== */

:host ::ng-deep .p-calendar {
    height: 41px;
}

:host ::ng-deep .p-calendar button{
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
}


:host ::ng-deep .p-dropdown-label {
    padding: 7px 10px;
}

:host ::ng-deep p-dropdown ul {
    padding: 0;
}

input {
    padding: 7px 10px;
}

p-inputNumber ::ng-deep input {
    padding: 7px 10px;
}

.p-inputtext.ng-dirty.ng-invalid {
    border-color: #ced4da;
}


.submit__btn {
    background: var(--first-color);
    color: white;
    width: 100%;
    border: none;
    padding: 7px 0;
    border-radius: 7px;
}
.submit {
    padding: 7px 0;
}

:host ::ng-deep .p-dropdown-label {
    padding: 7px 10px;
}

:host ::ng-deep p-dropdown ul {
    padding: 0;
}


@media (max-width: 1142px) {
    .thead {
        display: none;
    }
    td{
        text-align: right;
        display: block;
    }
    td::before {
        content: attr(data-title) ": ";
        float: left;
        font-weight: 600;
        color: #343a40;
    }
    tr:nth-child(even) {
        background: #f8f9fa;
    }
    tr:hover {
        background: none;
    }
}

@media (max-width: 586px) {
    button span {
        display: none;
    }
    .input__search {
        width: 200px;
    }
    .add__btn {
        font-size: 1.4rem;
    }
    .export__btn {
        font-size: 1.4rem;
    }
    :host ::ng-deep .p-dialog-mask {
        padding: 0 10px;
    }
}






