<!-- ======= TOAST NOTIFICATION ======== -->
<p-toast></p-toast>

<!-- ======== CONFIRM POP-UP======== -->
<p-confirmPopup></p-confirmPopup>


<!-- <h1 class="title">Warehouse Inventory</h1> -->

<app-content-header [title]="'Warehouse Inventory'"></app-content-header>


<!-- ======= SEARCH, ADD, EXPORT ======= -->
<div class="controls">
    <!-- <input pInputText type="text" class="p-inputtext-lg pl-3 input__search" placeholder="Search" (input)="onGlobalFilter(dt1, $event)"/> -->
    <!-- <button pButton pRipple class="bttn" (click)="showDialog()"><i class='bx bx-plus'></i> <span>Add Item</span></button> -->

    <!-- <span class="mr-3 font-semibold">From</span>
    <p-calendar  class="mr-3" [style]="{width: '130px'}"></p-calendar>

    <span class="mr-3 font-semibold">To</span>
    <p-calendar  class="mr-3" [style]="{width: '130px'}"></p-calendar>
 
    <button 
        pButton 
        pRipple 
        class="p-button-info bttn"
    >
        <i class='bx bx-file mr-1' ></i> 
        <span>Export File</span>
    </button> -->

</div>

<!-- <p-selectButton 
    [options]="stateOptions" 
    [(ngModel)]="value" 
    (ngModelChange)="getData()" 
    optionLabel="label" 
    optionValue="value" 
    class="mb-3"
></p-selectButton> -->

<!-- ======= TABLE ======= -->
<div class="table" *ngIf="value === 1">
    <p-table  
        #dt1 
        [value]="rawMatsInventory"  
        [tableStyle]="{ 'width': '100%'}" 
        [globalFilterFields]="['RawMaterial', 'InventoryDate.date']" 
    >
        <ng-template pTemplate="header">
            <tr class="thead">
                <th>Inventory Date</th>
                <th>Warehouse</th>
                <th>Partition</th>
                <th>Raw Material</th>
                <!-- <th>Begin Qty</th> -->
                <th>Begin </th>
                <!-- <th>Incoming Qty</th> -->
                <th>Incoming </th>
                <!-- <th>Binloading Qty</th> -->
                <th>Binloading</th>
                <!-- <th>Condemned Qty</th> -->
                <th>Condemned</th>
                <!-- <th>Ending Qty</th> -->
                <th>Ending</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr *ngIf="!isLoading">
                <td data-title="InventoryDate">
                    {{ row.InventoryDate.date | date: 'MM/dd/yyyy'}}
                </td>
                <td data-title="WarehouseID">
                    <!-- {{ row.Warehouse_Name }} -->
                    <span class="font-medium">{{ row.Warehouse_Name}} </span> 
                    <span class="block text-xs"> {{ row.WarehouseLocation }} </span>
                </td>
                <td data-title="WarehousePartitionID">
                    {{ row.WarehousePartitionName }}
                </td>
                <td data-title="RawMaterialID">
                    {{ row.RawMaterial === null ? '-' : row.RawMaterial }}
                </td>
                <!-- <td data-title="BeginQty">
                    {{ row.BeginQty }}
                </td> -->
                <td data-title="BeginWeight">
                    <!-- {{ row.BeginWeight }} -->
                    <span class="font-medium">{{ row.BeginWeight}} KG</span> 
                    <span class="block text-xs"> {{ row.BeginQty }} Bags</span>
                </td>
                <!-- <td data-title="IncomingQty">
                    {{ row.IncomingQty }}
                </td> -->
                <td data-title="IncomingWeight">
                    <!-- {{ row.IncomingWeight }} -->
                    <span class="font-medium">{{ row.IncomingWeight}} KG</span> 
                    <span class="block text-xs"> {{ row.IncomingQty }} Bags</span>
                </td>
                <!-- <td data-title="BinloadingQty">
                    {{ row.BinloadingQty }}
                </td> -->
                <td data-title="BinloadingWeight">
                    <!-- {{ row.BinloadingWeight }} -->
                    <span class="font-medium">{{ row.BinloadingWeight}} KG</span> 
                    <span class="block text-xs"> {{ row.BinloadingQty }} Bags</span>
                </td>
                <!-- <td data-title="CondemnedQty">
                    {{ row.CondemnedQty }}
                </td> -->
                <td data-title="CondemnedWeight">
                    <!-- {{ row.CondemnedWeight }} -->
                    <span class="font-medium">{{ row.CondemnedWeight}} KG</span> 
                    <span class="block text-xs"> {{ row.CondemnedQty }} Bags</span>
                </td>
                <!-- <td data-title="EndingQty">
                    {{ row.EndingQty }}
                </td> -->
                <td data-title="EndingWeight">
                    <!-- {{ row.EndingWeight }} -->
                    <span class="font-medium">{{ row.EndingWeight}} KG</span> 
                    <span class="block text-xs"> {{ row.EndingQty }} Bags</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="text-center my-3" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
</div>


<!-- ======= TABLE ======= -->
<div class="table" *ngIf="value === 2">
    <p-table  #dt1 [value]="finishProdInventory"  [tableStyle]="{ 'width': '100%'}" [globalFilterFields]="['RawMaterial', 'InventoryDate.date']" >
        <ng-template pTemplate="header">
            <tr class="thead">
                <th>Warehouse</th>
                <th>Warehouse Partition</th>
                <th>Finish Product</th>
                <th>Inventory Date</th>
                <th>Begin Qty</th>
                <th>Begin Weight</th>
                <th>Production OutputQty</th>
                <th>Production OutputWeight</th>
                <th>Outgoing Qty</th>
                <th>Outgoing Weight</th>
                <th>Condemned Qty</th>
                <th>Ending Qty</th>
                <th>Ending Weight</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr *ngIf="!isLoading">
                <td data-title="WarehouseID">{{ row.WarehouseID }}</td>
                <td data-title="WarehousePartitionID">{{ row.WarehousePartitionID }}</td>
                <td data-title="RawMaterialID">{{ row.FinishProductID }}</td>
                <td data-title="InventoryDate">{{ row.InventoryDate.date | date: 'MM/dd/yyyy'}}</td>
                <td data-title="BeginQty">{{ row.BeginQty}}</td>
                <td data-title="BeginWeight">{{ row.BeginWeight}}</td>
                <td data-title="ProductionOutputQty">{{ row.ProductionOutputQty}}</td>
                <td data-title="ProductionOutputWeight">{{ row.ProductionOutputWeight}}</td>
                <td data-title="OutgoingQty">{{ row.OutgoingQty}}</td>
                <td data-title="OutgoingQty">{{ row.OutgoingWeight}}</td>
                <td data-title="OutgoingQty">{{ row.CondemnedQty}}</td>
                <td data-title="OutgoingQty">{{ row.EndingQty}}</td>
                <td data-title="OutgoingQty">{{ row.EndingWeight}}</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="text-center my-3" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
</div>