

<!-- ======== CONFIRM POP-UP======== -->
<p-confirmPopup></p-confirmPopup>

<!-- ==== TITLE ==== -->
<!-- <h1 class="title">Unloading Transaction</h1> -->
<app-content-header [title]="'Unloading Transaction'"></app-content-header>


<div class="radio-inputs">
    <label class="radio">
        <input checked="" name="radio" type="radio" value="1" [(ngModel)]="value"  (ngModelChange)="onFilterUnloading()"/>
        <span class="name" [class.active]="value == 1"> Local </span>
    </label>
    <label class="radio">
        <input name="radio" type="radio" value="2" [(ngModel)]="value"  (ngModelChange)="onFilterUnloading()"/>
        <span class="name" [class.active]="value == 2"> Import </span>
    </label>
    <label class="radio" *ngIf="verifiedView">
        <input name="radio" type="radio" value="3" [(ngModel)]="value"  (ngModelChange)="getverified()"/>
        <span class="name" [class.active]="value == 3"> Verified </span>
    </label>
</div>


<!-- ===== TABLE ====== -->
<div class="table" *ngIf="value === 1 || 2 ">
    
    <p-table #dt1 
        [value]="unloadingTransaction" 
        [tableStyle]="{ 'width': '100%' }" 
        [globalFilterFields]="['PONo', 'MBL', 'RawMaterial', 'ContainerNumber', 'DrNumber', 'Supplier', 'CheckerName']" 
        [scrollable]="true" 
        [paginator]="!isLoading"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
    >

        <ng-template pTemplate="caption">
                
            <div class="flex justify-content-between gap-2 mb-4 ">
                <input 
                    pInputText 
                    type="text" 
                    class="p-inputtext-lg pl-3 input__search" 
                    placeholder="Search"  
                    (input)="onGlobalFilter(dt1, $event)"
                />
                <button 
                    pButton pRipple 
                    class="add__btn" 
                    (click)="showDialog(unloadingModal)" 
                    *ngIf="insert"
                >
                    <i class='bx bx-plus'></i> 
                    <span>Add Item</span>
                </button>
            </div>

        </ng-template>

        <ng-template pTemplate="header">
            <tr class="thead">
                <th pSortableColumn="DateUnload.date">   
                    Date Unload
                    <p-sortIcon field="DateUnload.date" />
                </th>
                <th pSortableColumn="PONo" *ngIf="value == 1">   
                    P.O #
                    <p-sortIcon field="PONo" />
                </th>
                <!-- <th *ngIf="value == 1"> P.O # </th> -->
                <th *ngIf="value == 2"> MBL </th>
                <th  *ngIf="value == 2"> Packaging  </th>
                <th> Dr # </th>
                <!-- <th> Raw Material </th> -->
                <th pSortableColumn="RawMaterial">   
                    Raw Material
                    <p-sortIcon field="RawMaterial" />
                </th>

                <th pSortableColumn="Weight">   
                    Weight
                    <p-sortIcon field="Weight" />
                </th>
                <!-- <th> Weight </th> -->
                <th> Warehouse </th>
                <th> Checker </th>
                <!-- <th> Verified </th> -->
                <th *ngIf="edit">  </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr *ngIf="!isLoading">
                <td data-title="DateUnload">
                    <span class="text"> {{ row.DateUnload.date | date: 'MMM dd, yyyy'}}</span> 
                    <span class="sub-text"> {{ row.DateUnload.date | date: 'EEEE' }} </span>
                </td>
                <td data-title="PO" *ngIf="value == 1">
                    <span class="">{{ row.PONo}} </span> 
                    <span 
                        class="sub-text white-space-nowrap overflow-hidden text-overflow-ellipsis" 
                        style="width: 150px;" 
                        pTooltip="{{ row.Supplier }}"  
                        tooltipPosition="top" 
                    > 
                        {{ row.Supplier }} 
                    </span>
                </td>
                <td data-title="BL" *ngIf="value == 2">
                    <span class="">{{ row.MBL}} </span> 
                    <span class="sub-text  white-space-nowrap overflow-hidden text-overflow-ellipsis" style="width: 150px;"> {{ row.Supplier }} </span>
                </td>
                <td data-title="Packaging"  *ngIf="value == 2">
                    <span class="">  {{ row.Packaging == 1 ? 'Containerized' : 'Bulk'}} </span> 
                    <span class="sub-text">   {{ row.ContainerNumber == null ? '-' : row.ContainerNumber}} </span>
                </td>
                <td data-title="DrNumber">
                    <span class="">{{ row.DrNumber}} </span> 
                    <span class="sub-text"> {{ row.PlateNo }} </span>
                </td>
                    <td data-title="RawMaterial">
                    {{ row.RawMaterial }}
                </td>
                <td data-title="Weight"> 
                    <span class="">{{ row.Weight | number }} kg</span> 
                    <span class="sub-text"> {{ row.Quantity | number }} bags </span>
                </td>
                <td data-title="Warehouse">
                    <span class="">  {{ row.Warehouse_Name}} ({{ row.WarehousePartitionName }})</span> 
                    <span class="sub-text"> {{ row.WarehouseLocation}} </span>
                </td>
                <td data-title="CheckerID">
                    {{ row.Name }}
                </td>
                <!-- <td data-title="Verified" *ngIf="row.Status == 2">
                    <i class="pi pi-check-circle text-green-500"></i>
                </td> -->

                <td data-title="Action" *ngIf="edit || insert">
                    <!-- <button 
                        pButton pRipple 
                        class="edit__btn" 
                        class="p-button-success p-2 border-round mr-2" 
                        (click)="onSelect(row, unloadingModal)" 
                        *ngIf="row.Status == 0"
                    >
                        <i class='bx bx-edit-alt'></i>
                    </button> -->

                    <!-- <button pButton pRipple 
                        class="delete__btn" 
                        class="p-button-danger p-2 border-round mr-2"
                    >
                        <i class='bx bx-trash' ></i>
                    </button> --> 

                    <div class="flex gap-2">
                        <!-- <button pButton pRipple 
                            class="delete__btn" 
                            class="p-button-primay p-2 border-round" 
                            (click)="confirmVerify('center', row)"  
                            pTooltip="Verify"
                            tooltipPosition="top"
                            *ngIf="row.Status == 1 && verifiedView"
                        >
                            <i class='pi pi-check' ></i>
                        </button> -->


                        <!-- Add weight  -->
                        <button pButton pRipple 
                            class="p-button-warning p-2 border-round" 
                            (click)="onAddWeight(row, addWeightModal)"  
                            pTooltip="Add Weight"
                            tooltipPosition="top"
                            *ngIf="row.Status == 0 && insert"
                        >
                            <i class='pi pi pi-plus' ></i>
                        </button>      

                        <!-- edit weight -->
                        <!-- <button pButton pRipple 
                            class="p-button-success p-2 border-round" 
                            (click)="onSelect(row, unloadingModal)"  
                            pTooltip="Edit Weight"
                            tooltipPosition="top"
                            *ngIf="row.Status == 1"
                        >
                            <i class='pi pi pi-pencil' ></i>
                        </button>   -->

                        <!-- get image -->
                        <button pButton pRipple 
                            class="p-button-info p-2 border-round" 
                            (click)="getImage(row)"  
                            pTooltip="Images"
                            tooltipPosition="top"
                            *ngIf="row.Status == 1 || row.Status == 2"
                        >
                            <i class='pi pi pi-image' ></i>
                        </button>   

                        <!-- <app-edit-weight 
                            *ngIf="row.Status == 1"
                            [value]="value"
                            [po]="po"
                            [bl]="bl"
                        /> -->
                        
                        <button pButton pRipple 
                            class="p-button-primary p-2 border-round"  
                            pTooltip="Verify"
                            tooltipPosition="top"
                            (click)="confirmVerify('center', row)"  
                            *ngIf="row.Status == 1 && verifiedView"
                        >
                            <i class='pi pi pi-check' ></i>
                        </button>   

                        <button pButton pRipple 
                            class="p-button-danger p-2 border-round"  
                            pTooltip="Delete"
                            tooltipPosition="top"
                            (click)="onDeleteUnloading(row)"  
                        >
                            <i class='pi pi pi-trash' ></i>
                        </button>   

                        <!-- <i 
                            class="pi pi-ellipsis-v cursor-pointer hover:text-indigo-500 p-2 border-circle"
                            (click)="unloadingOverlay.toggle($event)"
                        ></i> -->

                    </div>


                    <p-overlayPanel #unloadingOverlay>
                        <div class="actions-overlay">

                            <p  
                                (click)="onAddWeight(row, addWeightModal)"  
                                *ngIf="row.Status == 0 && insert"
                            >
                                <i class="pi pi-plus" width="15px" height="15px"></i>
                                Add Weight
                            </p>

                            <p  
                                (click)="confirmVerify('center', row)"  
                                *ngIf="row.Status == 1 && verifiedView"
                            >
                                <i class="pi pi-check" width="15px" height="15px"></i>
                                Verify
                            </p>

                            <p  
                                (click)="getImage(row)"  
                                *ngIf="row.Status == 1 || row.Status == 2"
                            >
                                <i class="pi pi-images"></i>
                                View Images
                            </p>
    
    
                        </div>
                    </p-overlayPanel>
                </td>

            </tr>
        </ng-template>

    </p-table>

    <p-confirmDialog 
        key="positionDialog" 
        [position]="position" 
        rejectButtonStyleClass="p-button-outlined" 
    />
  
    <div class="text-center my-3" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>

</div>



<!-- ======= MODAL FORM ======== -->
<p-dialog 
    header="{{ dialogHeader }}" 
    [(visible)]="visible" 
    [modal]="true" 
    [maximizable]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false" 
    #unloadingModal
>
    <form 
        [formGroup]="unloadingTransactionForm" 
        class="p-fluid" 
        (ngSubmit)="onSubmit()" 
    >  

        <div class="field" *ngIf="value == 1">

            <label class="font-semibold" >
                PO 
                <span class="required">*</span>
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="po" 
                    formControlName="PO" 
                    optionLabel="PONo" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    [filter]="true"
                    placeholder="Select or Enter PO" 
                    (onChange)="onSelectPO($event.value)"
                ></p-dropdown>
            <!-- </div> -->

        </div>

        <div class="field" *ngIf="value == 2">

            <label class="font-semibold" >
                BL 
                <span class="required">*</span>
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="bl" 
                    formControlName="BL" 
                    optionLabel="BlPackaging" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select BL" 
                    (ngModelChange)="onSelectBL($event)" 
                    [filter]="true"
                ></p-dropdown>
            <!-- </div> -->

        </div>
      

        <div class="field" *ngIf="value == 2 && selectedPackaging === 1">

            <label class="font-semibold" >
                Container # 
                <span class="required">*</span>
            </label>
        
            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="containerNumber" 
                    formControlName="ContainerNumber" 
                    optionLabel="ContainerNumber" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select Container #"
                    [filter]="true"
                ></p-dropdown>
            <!-- </div> -->

        </div>


        <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Date Unload 
                        <span class="required">*</span>
                    </label>
                    <p-calendar 
                        formControlName="DateUnload" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy" 
                        appendTo="body" 
                        [maxDate]="maxDate"
                    ></p-calendar>
                </div>

            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Date & Time Unload 
                    </label>
                    <p-calendar 
                        formControlName="DateTimeUnload" 
                        [showIcon]="true" placeholder="mm/dd/yyyy" 
                        [showTime]="true" 
                        hourFormat="24" 
                        [style]="{'width': '100%'}"
                        [maxDate]="maxDate"
                        [class.disabled]="true"
                    >
                    </p-calendar>
                </div>
            </div>

        </div>

        <div class="field" *ngIf="value != 0">
            <label class="font-semibold" >
                Dr Number 
                <span class="required">*</span>
            </label>

            <input 
                pInputText 
                formControlName="DrNumber" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter Dr Number"
            >
        </div>

        <div class="grid nested-grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Supplier 
                        <span class="required">*</span>
                    </label>

                    <!-- <div class="card flex justify-content-center"> -->
                        <p-dropdown 
                            [options]="localSupplier" 
                            formControlName="SupplierID" 
                            optionLabel="Supplier" 
                            [style]="{'height': '40px', 'border': '1px solid white'}" 
                            [showClear]="true" 
                            placeholder="Select Supplier" 
                            [filter]="true"
                            *ngIf="value == 1"
                        ></p-dropdown>


                        <p-dropdown 
                            [options]="supplier" 
                            formControlName="SupplierID" 
                            optionLabel="Supplier" 
                            [style]="{'height': '40px', 'border': '1px solid white'}" 
                            [showClear]="true" 
                            placeholder="Select Supplier" 
                            [filter]="true"
                            *ngIf="value == 2"
                        ></p-dropdown>
                    <!-- </div> -->

                </div>
            </div>

            <div class="col">

                <div class="field">

                    <label class="font-semibold" >
                        Plate No. 
                        <span class="required">*</span>
                    </label>

                    <div class="flex gap-2">

                        <!-- <div class="card flex justify-content-center flex-1 mr-2"> -->
                            <p-dropdown 
                                [options]="truck" 
                                formControlName="TruckID" 
                                optionLabel="PlateNo" 
                                [style]="{'height': '40px', 'border': '1px solid white'}" 
                                [showClear]="true" 
                                placeholder="Select Plate No" 
                                [filter]="true"
                                class="flex-1"
                            ></p-dropdown>
                        <!-- </div> -->

                        <p-button 
                            icon="pi pi-plus" 
                            (click)="showTruckDialog()" 
                            pTooltip="New Truck" 
                            tooltipPosition="left"
                        />

                    </div>

                </div>

            </div>

        </div>
      

        <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > 
                        Warehouse 
                        <span class="required">*</span>
                    </label>
                    <!-- <div class="card flex justify-content-center"> -->
                        <p-dropdown 
                            [options]="warehouse" 
                            formControlName="WarehouseID" 
                            optionLabel="LocationName" 
                            [style]="{'height': '40px', 'border': '1px solid white'}" 
                            [showClear]="true" 
                            [filter]="true"
                            placeholder="Select Warehouse" 
                            (onChange)="onSelectWarehouse($event.value)"
                        ></p-dropdown>
                    <!-- </div> -->
                </div> 
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Warehouse Partition 
                        <span class="required">*</span>
                    </label>

                    <!-- <div class="card flex justify-content-center"> -->
                    <p-dropdown 
                        [options]="selectedWarehouse" 
                        formControlName="WarehousePartitionID" 
                        optionLabel="WarehousePartitionName" 
                        [style]="{'height': '40px', 'border': '1px solid white'}" 
                        [showClear]="true" 
                        placeholder="Select Warehouse"
                    ></p-dropdown>
                    <!-- </div> -->

                </div>
            </div>

        </div>

        <div class="field" *ngIf="value != 0">

            <label class="font-semibold" > 
                Raw Material 
                <span class="required">*</span>
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="rawMaterial" 
                    formControlName="RawMaterialID" 
                    optionLabel="RawMaterial" 
                    [style]="{'height': '40px'}" 
                    [showClear]="true" 
                    [filter]="true"
                    filterBy="RawMaterial" 
                    placeholder="Select Raw Material"
                ></p-dropdown>
            <!-- </div> -->

        </div>

        <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Quantity 
                    </label>

                    <p-inputNumber 
                        formControlName="Quantity" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of bags"
                        [class.disabled]="true"
                    ></p-inputNumber> 

                </div>
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Weight 
                    </label>

                    <p-inputNumber 
                        formControlName="Weight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of kg"
                        [class.disabled]="true"
                    ></p-inputNumber> 

                </div>
            </div>

        </div>

        <!-- <div class="field" *ngIf="value != 0">

            <label class="font-semibold" >
                Image 
                <span class="required">*</span>
            </label>

            <p-fileUpload 
                #fileUpload
                chooseLabel="Choose" 
                [customUpload]="true"
                chooseIcon="pi pi-upload"
                accept="image/*" 
                [multiple]="true"
                [maxFileSize]="1000000"
                (onSelect)="onUpload($event)" 
            >
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length > 0">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>

        </div> -->

        <!-- <div class="field" *ngIf="BeforeImage">
            <p-image 
                src="{{BeforeImage}}" 
                alt="Image" 
                width="250" 
                [preview]="true" 
            />
        </div> -->

        <div class="flex justify-content-end">
            <!-- <button 
                pButton 
                pRipple 
                label="Submit" 
                icon="pi pi-check"
                class="bg-indigo-500 border-round border-none submit" 
                [loading]="true"
                [disabled]="!unloadingTransactionForm.valid"
                ></button> -->

                <app-submit-button 
                    [submitLoading]="submitLoading" 
                    [form]="unloadingTransactionForm"
                /> 
        </div>

    </form>
</p-dialog>


<!-- ======= ADD WeightMODAL FORM ======== -->
<p-dialog 
    header="Add Weight" 
    [(visible)]="addWeightVisible" 
    [modal]="true" 
    [maximizable]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false" 
    #addWeightModal
>
    <form 
        [formGroup]="addWeightForm" 
        class="p-fluid" 
        (ngSubmit)="onSubmitAddWeight()" 
    >  

        <div class="field" *ngIf="value == 1">

            <label class="font-semibold" >
                PO 
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="po" 
                    formControlName="PO" 
                    optionLabel="PONo" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select or Enter PO" 
                    (onChange)="onSelectPO($event.value)"
                    [class.disabled]="true"
                ></p-dropdown>
            <!-- </div> -->

        </div>

        <div class="field" *ngIf="value == 2">

            <label class="font-semibold" >
                BL 
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="bl" 
                    formControlName="BL" 
                    optionLabel="BlPackaging" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select BL" 
                    (ngModelChange)="onSelectBL($event)" 
                    [filter]="true"
                    [class.disabled]="true"
                ></p-dropdown>
            <!-- </div> -->

        </div>
      

        <div class="field" *ngIf="value == 2 && selectedPackaging === 1">

            <label class="font-semibold" >
                Container # 
            </label>
        
            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="containerNumber" 
                    formControlName="ContainerNumber" 
                    optionLabel="ContainerNumber" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select Container #"
                    [class.disabled]="true"
                    [filter]="true"
                ></p-dropdown>
            <!-- </div> -->

        </div>


        <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Date Unload 
                    </label>
                    <p-calendar 
                        formControlName="DateUnload" 
                        [showIcon]="true" 
                        placeholder="mm/dd/yyyy" 
                        appendTo="body" 
                        [maxDate]="maxDate"
                        [class.disabled]="true"
                    ></p-calendar>
                </div>

            </div>

            <div class="col">
                <div class="field">
                    <label class="font-semibold" >
                        Date & Time Unload 
                        <span class="required">*</span>
                    </label>
                    <p-calendar 
                        formControlName="DateTimeUnload" 
                        [showIcon]="true" placeholder="mm/dd/yyyy" 
                        [showTime]="true" 
                        hourFormat="24" 
                        [style]="{'width': '100%'}"
                        [maxDate]="maxDate"
                    >
                    </p-calendar>
                </div>
            </div>

        </div>

        <div class="field" *ngIf="value != 0">
            <label class="font-semibold" >
                Dr Number 
            </label>

            <input 
                pInputText 
                formControlName="DrNumber" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter Dr Number"
                [class.disabled]="true"
            >
        </div>

        <div class="grid nested-grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Supplier 
                    </label>

                    <p-dropdown 
                        [options]="localSupplier" 
                        formControlName="SupplierID" 
                        optionLabel="Supplier" 
                        [style]="{'height': '40px', 'border': '1px solid white'}" 
                        [showClear]="true" 
                        placeholder="Select Supplier" 
                        [filter]="true"
                        *ngIf="value == 1"
                        [class.disabled]="true"
                    ></p-dropdown>


                    <p-dropdown 
                        [options]="supplier" 
                        formControlName="SupplierID" 
                        optionLabel="Supplier" 
                        [style]="{'height': '40px', 'border': '1px solid white'}" 
                        [showClear]="true" 
                        placeholder="Select Supplier" 
                        [filter]="true"
                        [class.disabled]="true"
                        *ngIf="value == 2"
                    ></p-dropdown>

                </div>
            </div>

            <div class="col">

                <div class="field">

                    <label class="font-semibold" >
                        Plate No. 
                    </label>

                    <div class="flex gap-2">

                        <!-- <div class="card flex justify-content-center flex-1 mr-2"> -->
                            <p-dropdown 
                                [options]="truck" 
                                formControlName="TruckID" 
                                optionLabel="PlateNo" 
                                [style]="{'height': '40px', 'border': '1px solid white'}" 
                                [showClear]="true" 
                                placeholder="Select Plate No" 
                                [filter]="true"
                                class="flex-1"
                                [class.disabled]="true"
                            ></p-dropdown>
                        <!-- </div> -->

                        <p-button 
                            icon="pi pi-plus" 
                            (click)="showTruckDialog()" 
                            pTooltip="New Truck" 
                            tooltipPosition="left"
                        />

                    </div>

                </div>

            </div>

        </div>
      

        <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">
                    <label class="font-semibold" > 
                        Warehouse 
                    </label>
                    <!-- <div class="card flex justify-content-center"> -->
                        <p-dropdown 
                            [options]="warehouse" 
                            formControlName="WarehouseID" 
                            optionLabel="LocationName" 
                            [style]="{'height': '40px', 'border': '1px solid white'}" 
                            [showClear]="true" 
                            placeholder="Select Warehouse" 
                            (onChange)="onSelectWarehouse($event.value)"
                            [class.disabled]="true"
                        ></p-dropdown>
                    <!-- </div> -->
                </div> 
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Warehouse Partition 
                    </label>

                    <!-- <div class="card flex justify-content-center"> -->
                    <p-dropdown 
                        [options]="warehousePartition" 
                        formControlName="WarehousePartitionID" 
                        optionLabel="WarehousePartitionName" 
                        [style]="{'height': '40px', 'border': '1px solid white'}" 
                        [showClear]="true" 
                        placeholder="Select Warehouse"
                        [class.disabled]="true"
                    ></p-dropdown>
                    <!-- </div> -->

                </div>
            </div>

        </div>

        <div class="field" *ngIf="value != 0">

            <label class="font-semibold" > 
                Raw Material 
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="rawMaterial" 
                    formControlName="RawMaterialID" 
                    optionLabel="RawMaterial" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    [filter]="true"
                    filterBy="RawMaterial" 
                    placeholder="Select Raw Material"
                    [class.disabled]="true"
                ></p-dropdown>
            <!-- </div> -->

        </div>

        <div class="grid" *ngIf="value != 0">

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Quantity 
                        <span class="required">*</span>
                    </label>

                    <p-inputNumber 
                        formControlName="Quantity" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of bags"
                    ></p-inputNumber> 

                </div>
            </div>

            <div class="col">
                <div class="field">

                    <label class="font-semibold" > 
                        Weight 
                        <span class="required">*</span>
                    </label>

                    <p-inputNumber 
                        formControlName="Weight" 
                        inputId="integeronly" 
                        autocomplete="off" 
                        placeholder="No of kg"
                    ></p-inputNumber> 

                </div>
            </div>

        </div>

        <div class="field" *ngIf="value != 0">

            <label class="font-semibold" >
                Image 
                <span class="required">*</span>
            </label>

            <p-fileUpload 
                #fileUpload
                chooseLabel="Choose" 
                [customUpload]="true"
                chooseIcon="pi pi-upload"
                accept="image/*" 
                [multiple]="true"
                [maxFileSize]="4500000"
                (onSelect)="onUpload($event)" 
            >
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length > 0">
                        <li *ngFor="let file of uploadedFiles">
                            {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
            </p-fileUpload>

        </div>

        <div class="flex justify-content-end">
            <!-- <button 
                pButton 
                pRipple 
                label="Submit" 
                icon="pi pi-check"
                class="bg-indigo-500 border-round border-none submit" 
                [disabled]="!addWeightForm.valid || files.length != 3"
                ></button> -->

                <p-button 
                    type="submit"
                    label="Submit" 
                    icon="pi pi-check"
                    [loading]="submitAddWeightIsLoading" 
                    [disabled]="!addWeightForm.valid || files.length != 3"
                />

                <!-- <app-submit-button 
                [submitLoading]="submitAddWeightIsLoading" 
                [form]="!addWeightForm.valid || files.length != 3"
                />  -->
        </div>

    </form>
</p-dialog>


  <!-- ========= NEW TRUCK MODAL FORM ========== -->
<p-dialog 
    header="Add Truck" 
    [(visible)]="visibleTruckModal" 
    [modal]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <form [formGroup]="truckForm" class="p-fluid" (ngSubmit)="onSubmitTruckDialog()">  

        <div class="field">
            <label class="font-semibold" >
                Trucking 
                <span class="required">*</span>
            </label>
            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                [options]="trucking" 
                formControlName="TruckingID" 
                optionLabel="TruckingName" 
                [style]="{'height': '40px', 'border': '1px solid white'}" 
                [showClear]="true" 
                placeholder="Select Trucking"
                ></p-dropdown>
            <!-- </div> -->
        
        </div>

        <div class="field">

            <label class="font-semibold" >
                Truck Type 
                <span class="required">*</span>
            </label>

            <!-- <div class="card flex justify-content-center"> -->
                <p-dropdown 
                    [options]="truckType" 
                    formControlName="TruckTypeID" 
                    optionLabel="TruckType" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select Truck Type"
                ></p-dropdown>
            <!-- </div> -->

        </div>

        <div class="field">

            <label class="font-semibold" >
                Plate No 
                <span class="required">*</span>
            </label>

            <input 
                pInputText 
                formControlName="PlateNo" 
                autocomplete="off" 
                class="input"
            >

        </div>

        <div class="field">

            <label class="font-semibold" >
                Description
            </label>

            <input 
                pInputText 
                formControlName="Description" 
                autocomplete="off" 
                class="input"
            >

        </div>

        <!-- <div>
            <button 
            pButton 
            pRipple 
            label="Submit" 
            class="bg-indigo-500 border-round border-none submit" 
            [disabled]="!truckForm.valid"
            ></button>
        </div> -->

        <app-submit-button 
            [submitLoading]="submitLoading" 
            [form]="truckForm" 
        /> 

    </form>
  
</p-dialog>


<p-galleria
    [value]="images"
    [(visible)]="displayBasic"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '50%' }"
    [numVisible]="7"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
>
    <ng-template pTemplate="item" let-item>
        <img 
            [src]="displayImage(item.ImageUrl)" 
            style="width: 70%; display: block;" 
        />
    </ng-template>

</p-galleria>