:host ::ng-deep .p-dialog-header-icons {
    display: none;
}

:host ::ng-deep p-button button{
    padding: 8px 10px;
}

:host ::ng-deep .p-button {
    width: auto;
    border-radius: 5px;
    padding: 8px 10px;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
    border: none;
}
