<app-content-header [title]="'System Logs'"></app-content-header>

<div class="text-center my-3" *ngIf="isLoading">
    <app-loader></app-loader>
</div>


<div class="table" *ngIf="!isLoading && view">

    <p-table 
        [value]="filteredLogs()" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
    >

        <ng-template pTemplate="caption">
            <div div class="flex gap-2 mb-4 ">

                <!-- <span class="p-float-label">
                    <p-calendar 
                        id="from_date" 
                        [showIcon]="true" 
                        [(ngModel)]="fromDate"
                        (onSelect)="onFilterData(fromDate, toDate)"
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="from_date" 
                        appendTo="body" 
                     
                    >
                        Start date
                    </label>
                </span>
                
                <span class="p-float-label">
                    <p-calendar 
                        id="to_date" 
                        [showIcon]="true" 
                        [(ngModel)]="toDate"
                        (onSelect)="onFilterData(fromDate, toDate)"
                        [style]="{'width': '200px'}"
                    ></p-calendar>
                    <label 
                        for="to_date"  
                        appendTo="body" 
                     
                    >
                        End date
                    </label>
                </span> -->
                <span class="p-float-label">
                    <p-calendar 
                        id="dateRange" 
                        [(ngModel)]="rangeDates" 
                        selectionMode="range" 
                        [readonlyInput]="true"
                        [maxDate]="maxDateRange"
                        (onSelect)="onFilterDate()" 
                    />
                    <label 
                        for="dateRange"  
                        appendTo="body" 
                     
                    >
                        Select date range
                    </label>
                </span>

                <p-dropdown 
                    [options]="logs" 
                    [(ngModel)]="selectedLog" 
                    optionLabel="logName" 
                    placeholder="Select a Log" 
                    optionValue="logID"
                    [style]="{width: '170px'}"
                    [(ngModel)]="selectedLog"
                />

                <p-dropdown 
                    [options]="tableNames" 
                    optionLabel="tableName" 
                    placeholder="Select a Table" 
                    optionValue="tableName"
                    [style]="{width: 'auto'}"
                    [(ngModel)]="selectedTableName"
                />

                <!-- <p-dropdown 
                    [options]="users" 
                    optionLabel="UName" 
                    placeholder="Select a user" 
                    optionValue="UserID"
                    [style]="{width: 'auto'}"
                    [(ngModel)]="selectedUser"
                ></p-dropdown> -->

                <p-dropdown 
                    [options]="groupedUsers()"
                    optionLabel="name" 
                    optionValue="value" 
                    [(ngModel)]="selectedUser" 
                    placeholder="Select a user" 
                    [filter]="true"
                    [style]="{width: '200px'}"
                    [group]="true">
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <!-- <img 
                                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                    [class]="'mr-2 flag flag-' + group.value" 
                                    style="width: 20px" /> -->
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                </p-dropdown>

                <!-- {{ rangeDates?.[0]?.toLocaleDateString() }}
                {{ rangeDates?.[1]?.toLocaleDateString() }} -->

            </div>

            <span class="filter-container" *ngIf="(rangeDates?.[0] && rangeDates?.[1]) || selectedLog || selectedTableName || selectedUser">
                <span class="title">
                    Filter: 
                </span>
                
                <!-- label="{{fromDate | date: 'MMM dd, yyyy' }} - {{ toDate | date: 'MMM dd, yyyy'}}"  -->
                <p-chip 
                    label="{{ (rangeDates?.[0] | date: 'MMM dd, yyyy') || '' }} - {{ (rangeDates?.[1] | date: 'MMM dd, yyyy') || '' }}"
                    [removable]="true" 
                    class="mr-2"
                    (onRemove)="handleChipRemove()"
                    *ngIf="rangeDates?.[0] && rangeDates?.[1]"
                />
                    <!-- *ngIf="fromDate && toDate" -->

                <p-chip 
                    label="{{findLogName(selectedLog)}}" 
                    [removable]="true" 
                    (onRemove)="onRemoveLogChip()"
                    *ngIf="selectedLog"
                />

                <p-chip 
                    label="{{selectedTableName}}" 
                    [removable]="true" 
                    (onRemove)="onRmoveTableChip()"
                    *ngIf="selectedTableName"
                />

                <p-chip 
                    label="{{getSelectedUserName()}}" 
                    [removable]="true" 
                    (onRemove)="onRemoveUserChip()"
                    *ngIf="selectedUser"
                />
                

            </span>

        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Functionality</th>
                <th pSortableColumn="TableName">   
                    Table Name
                    <p-sortIcon field="TableName" />
                </th>
                <th pSortableColumn="Name">   
                    Name
                    <p-sortIcon field="Name" />
                </th>
                <th pSortableColumn="Activity">   
                    Activity
                    <p-sortIcon field="Activity" />
                </th>
                <th>Updated Data</th>
                <th pSortableColumn="Time.date">   
                    Date & Time
                    <p-sortIcon field="Time.date" />
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
            <tr>
                <td class="{{getFunction(row.FunctionID)}}"> 
                    <div class="flex align-items-center ">
                        <i class="{{ getIcon(row.FunctionID) }} flex text-xl"></i> 
                        {{ row.Functionality }}
                    </div>
                </td>
                <td>{{ row.TableName }}</td>
                <td>
                    {{ row.Name || '-' }}
                    <span class="sub-text">{{ row.ModuleName || '-'}}</span>
                </td>
                <td>{{ row.Activity || '-'}}</td>
                <td>{{ row.UpdatedData == 0 ? '-' : row.UpdatedData}}</td>
                <td>{{ (row.Time.date | date: 'MM/dd/yyyy hh:mm a') || '-' }}</td>
            </tr>
        </ng-template>

    </p-table>

    <!-- <pre>
        {{groupedUsers() | json}}
    </pre> -->

</div>