
<app-content-header 
    [title]="'Transactions / Inspection'"
></app-content-header>


<!-- ===== TABLE ====== -->

<app-rawmats-inspection-table 
    [rawMatsInspection]="rawMatsInspection"
    [isLoading]="isLoading"
    (showDialog)="showDialog()"
    (onSelect)="onSelect($event)"
    [rawMatsInspectionError]="rawMatsInspectionError"
/>
 

<!-- ========= MODAL FORM ========== -->
<app-rawmats-inspection-form 
    [visible]="visible" 
    (toggleDialog)="showDialog()" 
    [rawMatsInspectionForm]="rawMatsInspectionForm"
    [analysisInformation]="analysisInformation"
    [parameterList]="parameterList"
    [rawMatsParameters]="rawMatsParameters"
    (getStandard)="getStandard($event)"
    (getInspectionList)="getInspectionList()"
/>


