


<!-- TITLE HEADER -->
<app-content-header 
    [title]="'Raw Material'"
></app-content-header>


<!-- ===== TABLE ====== -->
<app-raw-materials-table 
    [rawMaterials]="rawMaterials"
    [isLoading]="isLoading"
    [rawMaterialError]="rawMaterialError"
    [insert]="insert"
    [edit]="edit"
    [stockView]="stockView"
    [generateReport]="generateReport"
    (openDialog)="openDialog($event)"
    (getData)="getData()"
/>

<!-- ======= MODAL FORM ======== -->
<app-raw-materials-modal 
    [visible]="visible" 
    [selectedRawMaterial]="selectedRawMaterial"
    [userID]="userID"
    [rawMaterialCategory]="rawMaterialCategory"
    [UnitOfMeasure]="UnitOfMeasure"
    (getData)="getData()"
    (closeDialog)="closeDialog()"
/>



