


/* input {
    background: var(--surface-color);
    border: var(--card-border);
    box-shadow: var(--input-box-shadow);
} */

:host ::ng-deep .p-inputtext {
    background: var(--surface-color);
    border: var(--card-border);
    box-shadow: var(--input-box-shadow);
    color: var(--font-color);
}

:host ::ng-deep .p-inputtext:disabled {
    background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  border: 1px solid #ccc;
}

@media (max-width: 1142px) {
    .thead {
        display: none;
    }
    td{
        text-align: right;
        display: block;
        /* border: none; */
    }
    td::before {
        content: attr(data-title) " : ";
        float: left;
        font-weight: 500;
        /* color: var(--font-color-dark); */
    }
    tr:nth-child(even) {
        /* background: #f8f9fa; */
        background: var(--body-color);
    }
    /* tr {
        border: 1px solid red;
        background: red;
    } */
    /* tr:hover {
        background: none;
    } */
}

@media (max-width: 586px) {
    button span {
        display: none;
    }
    .input__search {
        width: 200px;
    }
    .add__btn {
        font-size: 1.4rem;
    }
    .export__btn {
        font-size: 1.4rem;
    }
    :host ::ng-deep .p-dialog-mask {
        padding: 0 10px;
    }
}






