


<!-- TITLE HEADER -->
<app-content-header 
    [title]="'Products / Raw Material'"
></app-content-header>


<!-- ===== TABLE ====== -->
<app-raw-materials-table 
    [rawMaterials]="rawMaterials"
    [isLoading]="isLoading"
    [insert]="insert"
    [edit]="edit"
    (showDialog)="showDialog()"
    (onSelect)="onSelect($event)"
    (getData)="getData()"
/>


<!-- ======= MODAL FORM ======== -->

<app-raw-materials-modal 
    [visible]="visible" 
    [modalHeader]="modalHeader" 
    [rawMatsForm]="rawMatsForm"
    [submitLoading]="submitLoading" 
    (getData)="getData()"
    (toggleDialog)="toggleDialog()"
/>



