.surface-container {
    border: var(--card-border);
    border-radius: 8px;
    padding: 20px;
    /* height: 500px; */
    background: var(--surface-color);
    box-shadow: var(--card-box-shadow);
    width: 100%;
}

.cards__container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 20px;
    margin-bottom: 20px;
}


.cards {
    height: 150px;
    padding: 20px;
    border: var(--card-border);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: var(--surface-color);
    box-shadow:  var(--card-box-shadow);
    /* transition: var(--transition-3s) */
}

.cards .left-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.card__title {
    font-weight: 500;
    color: var( --font-color-dark);
}

.cards .card__number {
    display: block;
    font-weight: 700;
    font-size: var(--font-2xl);
    color: var(--font-color);
}

.cards .vsYesterdayGreen {
    /* background: var(--font-green-light); */
    color: var(--font-green);
    font-size: var(--font-sm);
    font-weight: 500;
    /* padding: 0 5px; */
    border-radius: 10px;
}

.cards .vsYesterdayRed {
    /* background: var(--font-red-light); */
    color: var(--font-red);
    font-size: var(--font-sm);
    font-weight: 500;
    /* padding: 0 7px; */
    border-radius: 10px;
}


.right-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-col .icon {
    font-size: var(--font-2xl);
    background: var(--tab-color);
    padding: 13px;
    /* border-radius: 10px; */
    border-radius: 100%;
    /* color: var(--font-color); */
    display: grid;
    place-items: center;

}

.chart-container {
    width: 100%;
    height: 100%;  /* Ensures the chart height can adjust dynamically */
    position: relative; /* Make sure the chart can scale within the container */
}

td, th {
    padding: 10px 5px;
}

th {
    font-size: var(--font-sm);
    color: var(--font-color-dark);
    /* color: #757575; */
    font-weight: 600;
    text-transform: uppercase;
    background: var(--surface-color);
}

td {
    font-size: var(--font-sm);
    color: var(--font-color);
    font-weight: var(--font-500);
    background: var(--surface-color);
    margin-bottom: 10px !important;
}

tr {
    /* color: 	#808080; */
    /* border: var(--border-bottom); */
    border: 1px var(--divider-border);
    border-bottom-style: dotted;
}

tr:last-child {
    /* Your styles here */
    border: none;
}

.icon-list {
    padding: 0.5rem;
    background: var(--tab-color);
    border-radius: 100%;
}

ul {
    padding: 0;
    margin: 0;
    border: 1px var(--divider-border);
    border-bottom-style: dotted;
}

.overflow-container {
    overflow: hidden;
} 

.overflow-container:hover {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    /* background: var(--tab-color); */
    background-color: #757575;
    border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
    background-color: gray; /* Color on hover */
}





