<app-content-header [title]="'Supplier / Local'" />


<div class="text-center my-3" *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<p-messages 
    [(value)]="localSupplierError" 
    [enableService]="false" 
    [closable]="false"
    *ngIf="localSupplierError" 
/>

<!-- ======= TABLE ======= -->
<div 
    class="table" 
    *ngIf="!isLoading && localSupplierError.length === 0"
>

    <p-table  
        #dt1 
        [value]="localSupplier" 
        [tableStyle]="{ 'width': '100%'}" 
        [globalFilterFields]="['Supplier', 'Origin', 'Address']" 
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
    >

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between mb-2">

                <input 
                    pInputText 
                    type="text" 
                    class="p-inputtext-lg pl-3 input__search" 
                    placeholder="Search" 
                    (input)="onGlobalFilter(dt1, $event)"
                />
                <button 
                    pButton 
                    pRipple 
                    class="add__btn" 
                    (click)="showDialog()"
                    *ngIf="insert"
                >
                    <i class='bx bx-plus'></i> 
                    <span>Add Item</span>
                </button>

            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr class="thead">
                <th>#</th>
                <th>Supplier</th>
                <th>Origin</th>
                <th>Address</th>
                <th>Currency</th>
                <th ></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <td data-title="#">{{ rowIndex + 1 }}</td>
                <td data-title="Supplier">{{ row.Supplier }}</td>
                <td data-title="Origin" >
                    <div class="flex gap-2">
                        <span [class]="'fi fi-' + getFlag(row.Origin)?.toLowerCase()"></span> 
                        {{ row.Origin }}
                    </div>
                </td>
                <td data-title="Address">
                    {{ row.Address }}
                </td>
                <td data-title="Currency" class="font-bold ">
                    {{ row.Currency }}
                </td>
                <td data-title="Actions" *ngIf="edit">
                    <!-- <button 
                        pButton 
                        pRipple 
                        class="edit__btn" 
                        (click)="onSelect(row)" 
                        class="p-button-success p-2 border-round mr-2"
                    >
                        <i class='bx bx-edit-alt'></i>
                    </button>
                    <button 
                        pButton 
                        pRipple 
                        class="delete__btn" 
                        class="p-button-danger p-2 border-round" 
                        (click)="confirm2($event, row.SupplierID)"
                    >
                        <i class='bx bx-trash' ></i>
                    </button> -->

                    <i class="pi pi-ellipsis-v cursor-pointer hover:text-indigo-500 p-2 border-circle" (click)="action.toggle($event)"></i>
                    <p-overlayPanel #action>
                        <div class="actions-overlay">
                            <p (click)="onSelect(row)">
                                <svg  width="15px" height="15px">
                                    <use href="assets/icons/icon-file-edit.svg#Layer_1"></use>
                                </svg>
                                Edit
                            </p>
                            <!-- <p>
                                <svg  width="15px" height="15px">
                                    <use href="assets/icons/icon-file-delete.svg#delete"></use>
                                </svg>
                                Delete
                            </p> -->
                        </div>
                    </p-overlayPanel>
                </td>
            </tr>
        </ng-template>

    </p-table>

</div>


<!-- ========= MODAL FORM ========== -->
<p-dialog 
    header="{{ dialogHeader }}" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <form 
        [formGroup]="localSupplierForm" 
        class="p-fluid" 
        (ngSubmit)="onSubmit()"
    >  

        <div class="field">
            <label class="font-semibold" >
                Supplier
            </label>
            <input 
                pInputText 
                formControlName="Supplier" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter supplier"
            >
        </div>

        <div class="field">
            <label class="font-semibold" >
                Address
            </label>
            <input 
                pInputText 
                formControlName="Address" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter address"
            >
        </div>

        <div class="field">
            <label class="font-semibold" >
                Origin
            </label>
            <p-dropdown 
                [options]="country" 
                formControlName="Origin"
                optionLabel="name" 
                [style]="{'height': '40px'}" 
                placeholder="Select Country" 
                appendTo="body" 
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                (onChange)="onSelectCountry($event.value)"
            >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <span [class]="'fi fi-' + selectedOption.countryCode.toLowerCase()"></span>
                        <div>{{ selectedOption.country }}</div>
                    </div>
                </ng-template>

                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <span [class]="'fi fi-' + country.countryCode.toLowerCase()"></span>
                        <div>{{ country.country }}</div>
                    </div>
                </ng-template>

            </p-dropdown>
        </div>

        <div class="field">
            <label class="font-semibold">
                Currency
            </label>
            <input 
                pInputText 
                formControlName="Currency" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter Currency"
            >
        </div>

        <div class="field">
            <label class="font-semibold">
                Days Terms
            </label>
            <!-- <input 
                pInputText 
                formControlName="Terms" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter Terms"
            > -->
            <p-inputNumber 
                formControlName="Terms" 
                inputId="integeronly" 
                autocomplete="off" 
                [useGrouping]="false" 
                placeholder="Enter Terms"
            ></p-inputNumber> 
        </div>

        <!-- <p-inputNumber 
            formControlName="Terms" 
            inputId="integeronly" 
            autocomplete="off" 
            [useGrouping]="false" 
            placeholder="Enter Terms"
        ></p-inputNumber>  -->

        <div class="flex justify-content-end gap-2">
            <app-submit-button 
                [submitLoading]="submitLoading" 
                [form]="localSupplierForm" 
            /> 
        </div>

    </form>
</p-dialog>
