
<div class="cards__container">

    <div class="cards">
        <div class="flex flex-column justify-content-between">
            <!-- <h6 class="card__title mb-5">zxc</h6> -->
            <p-skeleton width="6rem" height="1.2rem" />
            <p-skeleton width="7rem" height="2.8rem" />
            <!-- <span class="text-2xl font-semibold">zxc </span> -->
        </div>
        <div class="flex justify-content-end align-items-center">
            <p-skeleton shape="circle" size="6rem" />
        </div>
    </div>
    <div class="cards">
        <div class="flex flex-column justify-content-between">
            <!-- <h6 class="card__title mb-5">zxc</h6> -->
            <p-skeleton width="6rem" height="1.2rem" />
            <p-skeleton width="7rem" height="2.8rem" />
            <!-- <span class="text-2xl font-semibold">zxc </span> -->
        </div>
        <div class="flex justify-content-end align-items-center">
            <p-skeleton shape="circle" size="6rem" />
        </div>
    </div>
    <div class="cards">
        <div class="flex flex-column justify-content-between">
            <!-- <h6 class="card__title mb-5">zxc</h6> -->
            <p-skeleton width="6rem" height="1.2rem" />
            <p-skeleton width="7rem" height="2.8rem" />
            <!-- <span class="text-2xl font-semibold">zxc </span> -->
        </div>
        <div class="flex justify-content-end align-items-center">
            <p-skeleton shape="circle" size="6rem" />
        </div>
    </div>
    <div class="cards">
        <div class="flex flex-column justify-content-between">
            <!-- <h6 class="card__title mb-5">zxc</h6> -->
            <p-skeleton width="6rem" height="1.2rem" />
            <p-skeleton width="7rem" height="2.8rem" />
            <!-- <span class="text-2xl font-semibold">zxc </span> -->
        </div>
        <div class="flex justify-content-end align-items-center">
            <p-skeleton shape="circle" size="6rem" />
        </div>
    </div>

</div>