
<div class="text-center my-3" *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<p-messages 
    [(value)]="rawMaterialError" 
    [enableService]="false" 
    [closable]="false"
    *ngIf="rawMaterialError" 
/>

<div 
    class="table" 
    *ngIf="!isLoading && rawMaterialError.length == 0"
>

    <p-table 
        #dt1 
        [value]="rawMaterials" 
        [tableStyle]="{ 'width': '100%' }" 
        [globalFilterFields]="['RawMaterial', 'Category']"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
        responsiveLayout="stack" 
        [breakpoint]="'1100px'" 
        [columns]="cols" 
        [exportHeader]="'customExportHeader'" 
    >

        <ng-template pTemplate="caption">

            <div class="flex align-items-center justify-content-between mb-2">

                <div>
                    <input 
                        pInputText 
                        type="text" 
                        class="p-inputtext-lg pl-3 input__search" 
                        placeholder="Search" 
                        [(ngModel)]="value" 
                        (input)="onGlobalFilter(dt1, $event)"
                    />

                    <!-- <button 
                        pButton 
                        pRipple 
                        class="add__btn" 
                        (click)="dt1.exportCSV()"
                    >
                        <i class='bx bx-file'></i> 
                    </button> -->
                    <button 
                        pButton 
                        pRipple 
                        class="add__btn p-button-info" 
                        (click)="dt1.exportCSV()"
                        styleClass="p-button-success"
                        *ngIf="generateReport"
                    >
                        <i class='bx bx-file text-2xl'></i> 
                    </button>
                </div>

                <button 
                    pButton 
                    pRipple 
                    class="add__btn" 
                    (click)=" this.openDialog.emit()" 
                    *ngIf="insert"
                >
                    <i class='bx bx-plus'></i> 
                    <span>Add Item</span>
                </button>


            </div>

          
        </ng-template>

        <ng-template pTemplate="header">
            <tr class="thead">
                <th>#</th>
                <th pSortableColumn="RawMaterial">   
                    Raw Material
                    <p-sortIcon field="RawMaterial" />
                </th>
                <th pSortableColumn="Category">   
                    Category
                    <p-sortIcon field="Category" />
                </th>
                <th pSortableColumn="Quantity" *ngIf="stockView">   
                    Quantity
                    <p-sortIcon field="Quantity" />
                </th>
                <th pSortableColumn="Weight" *ngIf="stockView">   
                    Weight
                    <p-sortIcon field="Weight" />
                </th>
                <th>Status</th>
                <th *ngIf="edit"></th>
            </tr>
        </ng-template>
      
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr  *ngIf="!isLoading">
                <td>  
                    <span class="p-column-title">#</span> 
                    {{ rowIndex + 1 }} 
                </td>
                <td>
                    <span class="p-column-title">Raw Material</span> 
                    {{ row.RawMaterial }} 
                </td>
                <td>
                    <span class="p-column-title">Category</span> 
                    {{ row.Category || '-'}} 
                    <!-- {{ row.Packaging ? '(' + row.Packaging + ')' : ''  }} -->
                </td>
                <td *ngIf="stockView">
                    <span class="p-column-title">Quantity</span> 
                    {{ row.Quantity | number}}
                </td>
                <td *ngIf="stockView">
                    <span class="p-column-title">Weight</span> 
                    {{ row.Weight | number}}
                </td>
                <td>
                    <span class="p-column-title">Status</span> 
                    <span class="in-stock" *ngIf="row.Weight > row.MinimumWeight"> In Stock </span>
                    <span class="low-stock" *ngIf="row.Weight < row.MinimumWeight && row.Weight > 0"> Low Stock </span>
                    <span class="no-stock" *ngIf="row.Weight === 0 || row.Weight < 0"> No Stock </span>
                </td>
                <td data-title="Actions" *ngIf="edit">

                    <span class="p-column-title"></span> 

                    <i 
                        class="pi pi-ellipsis-v cursor-pointer hover:text-indigo-500 p-2 border-circle" 
                        (click)="action.toggle($event)"
                    ></i>


                </td>

                <p-overlayPanel #action>

                    <div class="actions-overlay">
                        <p (click)=" this.openDialog.emit(row)">
                            <svg  width="15px" height="15px">
                                <use href="assets/icons/icon-file-edit.svg#Layer_1"></use>
                            </svg>
                            Edit
                        </p>
                        <!-- <p (click)="">
                            <svg  width="15px" height="15px">
                                <use href="assets/icons/icon-file-delete.svg#delete"></use>
                            </svg>
                            Delete
                        </p> -->
                    </div>
                </p-overlayPanel>
                
            </tr>
        </ng-template>


    </p-table>

</div>