<!-- ======= TOAST NOTIFICATION ======== -->
<p-toast></p-toast>

<!-- ======== CONFIRM POP-UP======== -->
<p-confirmPopup></p-confirmPopup>

<app-content-header [title]="'Profile / Checker'"></app-content-header>


<div class="text-center my-3" *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<p-messages 
    [(value)]="checkerError" 
    [enableService]="false" 
    [closable]="false"
    *ngIf="checkerError" 
/>


<!-- ======= TABLE ======= -->
<div class="table" *ngIf="!isLoading && checkerError.length === 0">

    <p-table  
        #dt1 
        [value]="checker" 
        [tableStyle]="{ 'width': '100%'}" 
        [globalFilterFields]="['CheckerName']" 
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
    >

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between mb-2">

                <input 
                    pInputText 
                    type="text" 
                    class="p-inputtext-lg pl-3 input__search" 
                    placeholder="Search" 
                    (input)="onGlobalFilter(dt1, $event)"
                />

            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr class="thead">
                <th>#</th>
                <th pSortableColumn="CheckerName" >   
                    Checker
                    <p-sortIcon field="CheckerName" />
                </th>
                <th pSortableColumn="ContactNo" >   
                    Contact #
                    <p-sortIcon field="ContactNo" />
                </th>
                <th pSortableColumn="EmailAdd" >   
                    Email
                    <p-sortIcon field="EmailAdd" />
                </th>
                <th *ngIf="edit"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
                <td  data-title="#">{{ rowIndex + 1 }}</td>
                <td  data-title="Checker Name">{{ row.CheckerName }}</td>
                <td  data-title="Contact #">{{ row.ContactNo == 0 ? '-' : row.ContactNo  }}</td>
                <td  data-title="Email">{{ row.EmailAdd }}</td>
                <td  data-title="Actions" *ngIf="edit">

                </td>
            </tr>
        </ng-template>

    </p-table>

</div>

<!-- ========= MODAL FORM ========== -->
<p-dialog 
    header="{{ dialogHeader }}" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1200px': '500px' }" 
    [style]="{ width: '35vw' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <form [formGroup]="checkerForm" class="p-fluid" (ngSubmit)="onSubmit()">  

        <div class="field">
            <label class="font-semibold" >Checker Name</label>
            <input 
                pInputText 
                formControlName="CheckerName" 
                autocomplete="off" 
                class="input" 
                placeholder="Enter Checker Name"
            >
        </div>

        <!-- <div class="field">
            <label class="font-semibold" >Checker Type</label>
            <div class="card flex justify-content-center">
                <p-dropdown 
                    [options]="checkerType" 
                    formControlName="CheckerTypeID" 
                    optionLabel="CheckerType" 
                    [style]="{'height': '40px', 'border': '1px solid white'}" 
                    [showClear]="true" 
                    placeholder="Select Checker Type" 
                    appendTo="body"
                ></p-dropdown>
            </div>
        </div> -->

        <button 
            pButton 
            pRipple 
            label="Submit" 
            class="bg-indigo-500 border-round border-none submit" 
            [disabled]="!checkerForm.valid"
        ></button>

    </form>
</p-dialog>